## Add Path

In [2]:
OUTPUT_RELATIVE_PATH = '../../data/'

def create_path():
    """
     This function aims to create path
     """
    path = ["curated/ors-data", "raw/ors-data"]
    for target_dir in path:
        if not os.path.exists(OUTPUT_RELATIVE_PATH + target_dir):
            os.makedirs(OUTPUT_RELATIVE_PATH + target_dir)
        print('Already Create Paths')
    
create_path()

Already Create Paths
Already Create Paths

## Download all preprocessing Data

In [1]:
# change directory
import os

os.chdir('../../scripts/preprocessing/')

In [2]:
# download pre-external data
from domain_preprocessing import *

domain_preprocessing()

22/09/26 23:19:39 WARN Utils: Your hostname, QuzihandeMacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.96.115 instead (on interface en0)
22/09/26 23:19:39 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/09/26 23:19:39 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/09/26 23:19:40 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/09/26 23:19:40 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

()

In [3]:
from external_preprocessing import *

preprocessing.preprocessing_all()

In [2]:
from external_preprocessing import *

school_output()

()

## Join all external features

In [2]:
from join import *

external_features()

/Users/quzihanwu/Desktop/generic-real-estate-consulting-project-group-7/scripts/preprocessing/join.py:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered.replace("none", np.nan, inplace=True)

In [3]:
import pandas as pd
df = pd.read_csv('../../data/curated/external-data/external-feature.csv')

In [4]:
df

,postcode,public_duration,care_duration,shopping_duration,station_duration,hospital_duration,CBD_duration,1-10_x,11-50_x,51-100_x,...,1-10_y,11-50_y,51-100_y,101-150_y,150+_y,property_count,elector_count,emergency_duration,crime_rate,income
0,3131,258.47,63.46,280.66,185.57,247.6,1638.6,NaN,NaN,NaN,...,0.0,0.0,0.0,1.0,0.0,9685.0,14758.0,189.6,2704.237919,1202.0
1,3939,899.14,326.22,NaN,NaN,730.7,4765.9,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,2.0,8923.0,12193.0,617.7,3806.322916,770.0
2,3429,408.40,263.03,376.96,325.36,582.8,2653.7,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,4.0,15253.0,27933.0,372.8,4668.504451,1438.0
3,3144,111.39,41.85,288.87,144.09,82.7,986.8,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,5276.0,8317.0,103.6,3284.949982,2047.0
4,3338,561.47,130.73,NaN,NaN,NaN,2552.5,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,2.0,11175.0,18240.0,386.6,4207.418457,1096.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,3003,NaN,294.45,NaN,347.54,NaN,499.0,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,2.0,3068.0,3265.0,370.0,11034.632221,1219.5
176,3008,87.50,96.34,207.21,230.16,205.6,319.5,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,1.0,6312.0,5355.0,212.8,14582.311375,1219.5
177,3207,342.70,130.39,NaN,NaN,NaN,649.4,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,9251.0,12477.0,151.6,8215.660527,1997.0
178,3032,241.01,181.30,372.40,365.14,194.2,964.1,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,1.0,13659.0,20396.0,NaN,6239.593353,1512.0
179,3031,218.69,167.94,NaN,220.67,NaN,708.6,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,2.0,9460.0,12814.0,287.9,7486.953068,1401.0