In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re

In [2]:
# A while loop to run all the pages of this website
i=0
url = 'http://house.speakingsame.com/suburbtop.php?sta=vic&cat=Median%20household%20income&name=Weekly%20income&page=' + str(i)
df = pd.DataFrame()
while True:
    print(url)
    # find all the table for each page find all the table
    html_content = requests.get(url).text
    soup = BeautifulSoup(html_content, "lxml")
    table = soup.find_all("table")
    print(len(table))
    # The income table is the 8th table
    income_table = table[7]
    # the head will form our column names
    body = income_table.find_all("tr")
    # Head values (Column names) are the first items of the body list
    head = body[0] # 0th item is the header row
    body_rows = body[1:] # All other items becomes the rest of the rows

    # Lets now iterate through the head HTML code and make list of clean headings

    # Declare empty list to keep Columns names
    headings = []
    for item in head.find_all("td"): # loop through all th elements
        # convert the th elements to text and strip "\n"
        item = (item.text).rstrip("\n")
        # append the clean column name to headings
        headings.append(item)
    print(headings)
    #print(body_rows[0])
    all_rows = [] # will be a list for list for all rows
    for row_num in range(len(body_rows)): # A row at a time
        row = [] # this will old entries for one row
        for row_item in body_rows[row_num].find_all("td"): #loop through all row entries
            # row_item.text removes the tags from the entries
            # the following regex is to remove \xa0 and \n and comma from row_item.text
            # xa0 encodes the flag, \n is the newline and comma separates thousands in numbers
            aa = re.sub("(\xa0)|(\n)|,","",row_item.text)
            #append aa to row - note one row entry is being appended
            row.append(aa)
        # append one row to all_rows
        all_rows.append(row)
    df_new = pd.DataFrame(data=all_rows,columns=headings)
    # append the income data of this page to the dataframe
    df = df.append(df_new, ignore_index=True)
    # find the next page
    i = i+1
    page = requests.get(url)
    if page.status_code != 200:
        break
    # This website only have 13 pages so when run to page 14, break
    url = 'http://house.speakingsame.com/suburbtop.php?sta=vic&cat=Median%20household%20income&name=Weekly%20income&page=' + str(i)
    if url == 'http://house.speakingsame.com/suburbtop.php?sta=vic&cat=Median%20household%20income&name=Weekly%20income&page=14':
        break

http://house.speakingsame.com/suburbtop.php?sta=vic&cat=Median%20household%20income&name=Weekly%20income&page=0
9
['Rank', 'Suburb', 'Value']

/var/folders/nf/s3hrf4f94bx7d661b9kg76v80000gn/T/ipykernel_90559/929285318.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_new, ignore_index=True)

http://house.speakingsame.com/suburbtop.php?sta=vic&cat=Median%20household%20income&name=Weekly%20income&page=1
9
['Rank', 'Suburb', 'Value']

/var/folders/nf/s3hrf4f94bx7d661b9kg76v80000gn/T/ipykernel_90559/929285318.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_new, ignore_index=True)

http://house.speakingsame.com/suburbtop.php?sta=vic&cat=Median%20household%20income&name=Weekly%20income&page=2
9
['Rank', 'Suburb', 'Value']

/var/folders/nf/s3hrf4f94bx7d661b9kg76v80000gn/T/ipykernel_90559/929285318.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_new, ignore_index=True)

http://house.speakingsame.com/suburbtop.php?sta=vic&cat=Median%20household%20income&name=Weekly%20income&page=3
9
['Rank', 'Suburb', 'Value']

/var/folders/nf/s3hrf4f94bx7d661b9kg76v80000gn/T/ipykernel_90559/929285318.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_new, ignore_index=True)

http://house.speakingsame.com/suburbtop.php?sta=vic&cat=Median%20household%20income&name=Weekly%20income&page=4
9
['Rank', 'Suburb', 'Value']

/var/folders/nf/s3hrf4f94bx7d661b9kg76v80000gn/T/ipykernel_90559/929285318.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_new, ignore_index=True)

http://house.speakingsame.com/suburbtop.php?sta=vic&cat=Median%20household%20income&name=Weekly%20income&page=5
9
['Rank', 'Suburb', 'Value']

/var/folders/nf/s3hrf4f94bx7d661b9kg76v80000gn/T/ipykernel_90559/929285318.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_new, ignore_index=True)

http://house.speakingsame.com/suburbtop.php?sta=vic&cat=Median%20household%20income&name=Weekly%20income&page=6
9
['Rank', 'Suburb', 'Value']

/var/folders/nf/s3hrf4f94bx7d661b9kg76v80000gn/T/ipykernel_90559/929285318.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_new, ignore_index=True)

http://house.speakingsame.com/suburbtop.php?sta=vic&cat=Median%20household%20income&name=Weekly%20income&page=7
9
['Rank', 'Suburb', 'Value']

/var/folders/nf/s3hrf4f94bx7d661b9kg76v80000gn/T/ipykernel_90559/929285318.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_new, ignore_index=True)

http://house.speakingsame.com/suburbtop.php?sta=vic&cat=Median%20household%20income&name=Weekly%20income&page=8
9
['Rank', 'Suburb', 'Value']

/var/folders/nf/s3hrf4f94bx7d661b9kg76v80000gn/T/ipykernel_90559/929285318.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_new, ignore_index=True)

http://house.speakingsame.com/suburbtop.php?sta=vic&cat=Median%20household%20income&name=Weekly%20income&page=9
9
['Rank', 'Suburb', 'Value']

/var/folders/nf/s3hrf4f94bx7d661b9kg76v80000gn/T/ipykernel_90559/929285318.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_new, ignore_index=True)

http://house.speakingsame.com/suburbtop.php?sta=vic&cat=Median%20household%20income&name=Weekly%20income&page=10
9
['Rank', 'Suburb', 'Value']

/var/folders/nf/s3hrf4f94bx7d661b9kg76v80000gn/T/ipykernel_90559/929285318.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_new, ignore_index=True)

http://house.speakingsame.com/suburbtop.php?sta=vic&cat=Median%20household%20income&name=Weekly%20income&page=11
9
['Rank', 'Suburb', 'Value']

/var/folders/nf/s3hrf4f94bx7d661b9kg76v80000gn/T/ipykernel_90559/929285318.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_new, ignore_index=True)

http://house.speakingsame.com/suburbtop.php?sta=vic&cat=Median%20household%20income&name=Weekly%20income&page=12
9
['Rank', 'Suburb', 'Value']

/var/folders/nf/s3hrf4f94bx7d661b9kg76v80000gn/T/ipykernel_90559/929285318.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_new, ignore_index=True)

http://house.speakingsame.com/suburbtop.php?sta=vic&cat=Median%20household%20income&name=Weekly%20income&page=13
9
['Rank', 'Suburb', 'Value']

/var/folders/nf/s3hrf4f94bx7d661b9kg76v80000gn/T/ipykernel_90559/929285318.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_new, ignore_index=True)

In [3]:
df

    Rank         Suburb  Value
0      1     Canterbury  $2352
1      2  Park Orchards  $2329
2      3     Wonga Park  $2221
3      4       Brighton  $2200
4      5     Camberwell  $2122
..   ...            ...    ...
660  261      St Arnaud   $713
661  262    Maryborough   $689
662  263   Rosebud West   $641
663  264        Carlton   $633
664  264  Carlton South   $633

[665 rows x 3 columns]

In [5]:
import gdown

url_suburb_to_postcode = 'https://www.matthewproctor.com/Content/postcodes/australian_postcodes.csv'
output_convert = '../../data/external-raw-data/suburb-to-postcode.csv'
gdown.download(url_suburb_to_postcode, output_convert, quiet=False)

Downloading...
From: https://www.matthewproctor.com/Content/postcodes/australian_postcodes.csv
To: /Users/quzihanwu/Desktop/generic-real-estate-consulting-project-group-7/data/external-raw-data/suburb-to-postcode.csv
100%|██████████| 7.56M/7.56M [00:02<00:00, 3.65MB/s]

'../../data/external-raw-data/suburb-to-postcode.csv'

In [6]:
df_convert = pd.read_csv("../../data/external-raw-data/suburb-to-postcode.csv", index_col=0)

In [7]:
df_convert

,postcode,locality,state,long,lat,dc,type,status,sa3,sa3name,...,MMM_2015,MMM_2019,ced,altitude,chargezone,phn_code,phn_name,lgaregion,electorate,electoraterating
id,,,,,,,,,,,,,,,,,,,,,
230,200,ANU,ACT,149.119000,-35.277700,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,NaN,NaN,N2,NaN,NaN,NaN,Durack,NaN
21820,200,Australian National University,ACT,149.118900,-35.277700,NaN,NaN,Added 19-Jan-2020,NaN,NaN,...,1.0,1.0,NaN,NaN,N2,NaN,NaN,NaN,Durack,NaN
232,800,DARWIN,NT,130.836680,-12.458684,NaN,NaN,Updated 6-Feb-2020,70101.0,Darwin City,...,2.0,2.0,NaN,NaN,NT1,PHN701,Northern Territory,Darwin,Solomon,Inner Metropolitan
24049,800,DARWIN CITY,NT,130.836680,-12.458684,NaN,NaN,Updated 6-Feb-2020,70101.0,Darwin City,...,2.0,2.0,NaN,NaN,NT1,PHN701,Northern Territory,Darwin,Solomon,Inner Metropolitan
233,801,DARWIN,NT,130.836680,-12.458684,NaN,NaN,Updated 25-Mar-2020 SA3,70101.0,Darwin City,...,2.0,2.0,NaN,NaN,NT1,PHN701,NaN,NaN,Lingiari,Rural
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11186,9013,BRISBANE,QLD,152.823141,-27.603479,CITY DC - BRISBANE,LVR,Updated 25-Mar-2020 SA3,30504.0,Brisbane Inner - West,...,1.0,1.0,NaN,44.349792,Q1,PHN301,NaN,Brisbane,Griffith,NaN
11187,9015,BRISBANE,QLD,152.823141,-27.603479,CITY DC - BRISBANE,LVR,Updated 25-Mar-2020 SA3,30504.0,Brisbane Inner - West,...,1.0,1.0,NaN,44.349792,Q1,PHN301,NaN,Brisbane,Griffith,NaN
11196,9464,NORTHGATE MC,QLD,153.074982,-27.397055,NaN,NaN,Updated 25-Mar-2020 SA3,30203.0,Nundah,...,1.0,1.0,NaN,NaN,Q1,PHN301,NaN,Brisbane,Griffith,NaN
11197,9726,GOLD COAST MC,QLD,153.412197,-28.008783,NaN,NaN,Updated 25-Mar-2020 SA3,30910.0,Surfers Paradise,...,1.0,1.0,Moncrieff,NaN,Q1,PHN303,NaN,Gold Coast,McPherson,NaN
23878,9999,NORTH POLE,VIC,144.956776,-37.817403,CITY DELIVERY CENTRE,Delivery Area,Added 1-July-2021,20604.0,Melbourne City,...,1.0,1.0,Melbourne,15.244751,NaN,NaN,NaN,Yarra,Macnamara,NaN

In [8]:
# Do the preprocessing with convertion file
# Take rows for victoria
df_convert = df_convert[df_convert["state"] =="VIC"]

# Only remain the column which are postcode and locality
df_convert = df_convert[["postcode", "locality"]]

# Reset the index
df_convert = df_convert.reset_index()

df['Suburb'] = df['Suburb'].str.upper()

df_convert.loc[:,"locality"] = df_convert["locality"].astype(str).str.strip()
df.loc[:,"Suburb"] = df["Suburb"].astype(str).str.strip()

# inner merge by suburb and locality
df_merge = df.merge(df_convert, left_on='Suburb', right_on='locality', how='inner')

df_merge_select = df_merge[["Value","postcode"]]

df_merge_select['Value'] = df_merge_select['Value'].str[1:]

df_merge_select["Value"] = pd.to_numeric(df_merge_select["Value"])

# Group by by the postcode(average each postcode)
df_group_by = df_merge_select.groupby(['postcode']).median()

/var/folders/nf/s3hrf4f94bx7d661b9kg76v80000gn/T/ipykernel_90559/1618855673.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merge_select['Value'] = df_merge_select['Value'].str[1:]
/var/folders/nf/s3hrf4f94bx7d661b9kg76v80000gn/T/ipykernel_90559/1618855673.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merge_select["Value"] = pd.to_numeric(df_merge_select["Value"])

In [9]:
df_group_by

           Value
postcode
3000       994.0
3001       994.0
3002      1989.0
3004       994.0
3006      1838.0
...          ...
8107       994.0
8111       994.0
8120       994.0
8205       994.0
8785       899.0

[340 rows x 1 columns]