# Domain Scrape

In [3]:
from bs4 import BeautifulSoup
import requests

import unicodedata
from csv import writer
import re

import pandas as pd
import numpy as np

import json

In [4]:
headers = {"User-Agent":
           "Mozilla/5.0 (X11; CrOS x86_64 12871.102.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.141 Safari/537.36"}

# home url of domian.com australia
home_url = "https://www.domain.com.au"

In [3]:
#postcode of properties
postcode_list = [i for i in range(3000,3100)]

In [4]:
# return unique extracted link for given postcode
def link_by_postcode(postcode):
    
    # list to store all the urls of properties
    list_of_links = []
    
    # store unique link
    abc_links = [] 
    
    # number of pages of search result are 50
    page_numbers = list(range(50))[1:50]
    
    # for loop for all 50 search(melbourne region) pages
    for page in page_numbers:

        # extracting html document of search page
        url = home_url + f"/rent/melbourne-vic-{postcode}/?excludedeposittaken=1&page={page}"

        # parsing html document to 'lxml' format
        bs_object = BeautifulSoup(requests.get(url, headers=headers).text, "html.parser")

        #for each page
        # finding all the links available in 'ul' tag whos 'data-testid' is 'results'
        all_links = bs_object.find(
            "ul", {"data-testid": "results"}).findAll("a", href=re.compile("https://www.domain.com.au/*"))

        # inner loop to find links inside each property page because few properties are project so they have more properties inside their project page
        for link1 in all_links:
            # checking if it is a project and then performing similar above
            if 'project' in link1.attrs['href']:
                inner1_url = link1.attrs['href']
                inner1_bsobj = BeautifulSoup(requests.get(inner1_url, headers=headers).text, "html.parser")
                for link2 in inner1_bsobj.find("div", {"name": "listing-details__other-listings"}).findAll("a", href=re.compile("https://www.domain.com.au/*")):
                    if 'href' in link2.attrs:
                        list_of_links.append(link2.attrs['href'])
            else:
                list_of_links.append(link1.attrs['href'])
   
    # remove deplicated links
    for i in list_of_links: 
        if i not in abc_links: 
            abc_links.append(i) 
    return abc_links

In [5]:
links_test =link_by_postcode(3000)

In [6]:
# defining required regural expression for data extraction     
pattern = re.compile(r'>(.+)<!.*>(.+?)</span>.*')
pattern1 = re.compile(r'>(.+)<.')
pattern2 = re.compile(r'destination=(.+)" rel=.')
#school
pattern_school = re.compile(r'>(.+)<')
pattern_distance = re.compile(r'">(.+)<!')
#street information
pattern_address1 = re.compile(r'>(.+)<!.*>')
pattern_address2 = re.compile(r'>(.+)<.')

In [7]:
basic_feature_list = []


# loop to iterate through each url
for link in links_test[:10]:
    
    # opening urls
    bs_object = BeautifulSoup(requests.get(link, headers=headers).text, "html.parser")
    
    # extracting address/name of property
    property_name = bs_object.find("h1", {"class": "css-164r41r"})
    
    # extracting baths, rooms, parking etc
    all_basic_features = bs_object.find("div", {"class": "css-ghc6s4"}).findAll("span", {"data-testid": "property-features-text-container"})
    
    # extracting property price
    property_price = bs_object.find("div", {"data-testid": "listing-details__summary-title"})
    
    # extracting latitudes and longitudes
    lat_long = bs_object.find("a", {"target": "_blank", 'rel': "noopener noreferer"})
    
    #extract schoolname, school distance
    # school= bs_object.find("div", {"data-testid": "listing-details__school-catchment"}).findAll("h5",{"class": "css-5w5cop"})
    school_data = json.loads(bs_object.find("script", {"id": "__NEXT_DATA__"}).text)
    school = [s['name'] for s in school_data['props']['pageProps']['componentProps']['schoolCatchment']['schools']]
    school_distance= [s['distance'] for s in school_data['props']['pageProps']['componentProps']['schoolCatchment']['schools']]
  
    # address info
    address1 = bs_object.find("span", {"data-testid": "address-line1"})
    address2 = bs_object.find("span", {"data-testid": "address-line2"})
    
    #recent rented
    recent_rented_number = bs_object.find("div", {"class": "css-12uo2x5"})
    
    # dictionary to store temporary data
    basic_feature_dict = {}
    
    # few properties does not contain all the 4 features such as rooms, baths, parkings, area. So need to check
    # how many features they contain
    if len(all_basic_features) == 4:
        basic_feature_dict[pattern.findall(str(all_basic_features[0]))[0][1]] = pattern.findall(str(all_basic_features[0]))[0][0]
        basic_feature_dict[pattern.findall(str(all_basic_features[1]))[0][1]] = pattern.findall(str(all_basic_features[1]))[0][0]
        basic_feature_dict[pattern.findall(str(all_basic_features[2]))[0][1]] = pattern.findall(str(all_basic_features[2]))[0][0]
        basic_feature_dict[pattern.findall(str(all_basic_features[3]))[0][1]] = pattern.findall(str(all_basic_features[3]))[0][0]
        
    elif len(all_basic_features) == 3:
        basic_feature_dict[pattern.findall(str(all_basic_features[0]))[0][1]] = pattern.findall(str(all_basic_features[0]))[0][0]
        basic_feature_dict[pattern.findall(str(all_basic_features[1]))[0][1]] = pattern.findall(str(all_basic_features[1]))[0][0]
        basic_feature_dict[pattern.findall(str(all_basic_features[2]))[0][1]] = pattern.findall(str(all_basic_features[2]))[0][0]
        
    elif len(all_basic_features) == 2:
        basic_feature_dict[pattern.findall(str(all_basic_features[0]))[0][1]] = pattern.findall(str(all_basic_features[0]))[0][0]
        basic_feature_dict[pattern.findall(str(all_basic_features[1]))[0][1]] = pattern.findall(str(all_basic_features[1]))[0][0]
        
    elif len(all_basic_features) == 1:
        basic_feature_dict[pattern.findall(str(all_basic_features[0]))[0][1]] = pattern.findall(str(all_basic_features[0]))[0][0]

        
        
    # putting 'none' if school is missing    
    if school is None:
        basic_feature_dict['school'] = None
        
    else:
        basic_feature_dict['school'] = school
    
    # putting 'none' if school distance is missing   
    if school_distance is None:
        basic_feature_dict['school_distance'] = None
        
    else:
        basic_feature_dict['school_distance'] = school_distance
     
    
    
    # putting 'none' if address(street) distance is missing   
    if address1 is None:
        basic_feature_dict['address1'] = None
        
    else:
        basic_feature_dict['address1'] = pattern_address1.findall(str(address1))
        
    # putting 'none' if address2 is missing   
    if address2 is None:
        basic_feature_dict['address2'] = None
        
    else:
        basic_feature_dict['address2'] = sum([pattern_address2.findall(str(i)) for i in address2],[])
    
        # putting 'none' if recent_rented number is missing   
    if recent_rented_number is None:
        basic_feature_dict['recent_rented_number'] = None
        
    else:
        basic_feature_dict['recent_rented_number'] = pattern1.findall(str(recent_rented_number))[0]


    # putting 'none' if price is missing    
    if property_price is None:
        basic_feature_dict['price'] = None
        
    else:
        basic_feature_dict['price'] = pattern1.findall(str(property_price))[0]
        
    # putting 'none' if property name/address is missing       
    if property_name is None:
        basic_feature_dict['name'] = None
        
    else:
        basic_feature_dict['name'] = pattern1.findall(str(property_name))[0]
        
    # putting 'none' if latitude and logitude are missing        
    if lat_long is None:
        basic_feature_dict['lat'] = None
        basic_feature_dict['long'] = None
        
    else:
        basic_feature_dict['lat'] = pattern2.findall(str(lat_long))[0].split(',')[0]
        basic_feature_dict['long'] = pattern2.findall(str(lat_long))[0].split(',')[1]
        
    # appending all the data into a list
    basic_feature_list.append(basic_feature_dict)

In [8]:
# creating empty lists
beds_list = []
baths_list = []
parking_list = []
area_list = []
name_list = []
lat_list = []
long_list = []
price_list = []
school_list = []
school_distance_list =[]
address1_list = []
address2_list = []
recent_rented_number_list = []
recent_rented_price_list = []

# interating through list created above with data
for row in basic_feature_list:
    
    # checking if the row cointains 'Beds', 'Bed' or nothing
    if 'Beds' in row:
        beds_list.append(row['Beds'])
    elif 'bed' in row:
        beds_list.append(row['Bed'])
    else:
        beds_list.append(None)
        
    # checking if the row cointains 'Baths', 'Bath' or nothing    
    if 'Baths' in row:
        baths_list.append(row['Baths'])
    elif 'Bath ' in row:
        baths_list.append(row['Bath'])
    else:
        baths_list.append(None)
        
    # checking if the row cointains 'Parking', '-' or nothing     
    if 'Parking' in row and row['Parking'] != 'âˆ’':
        parking_list.append(row['Parking'])
    else:
        parking_list.append(None)
        
    # checking if the row cointains ' ', or nothing. Because empty space (i.e. ' ') reprsents area  
    if ' ' in row:
        area_list.append(row[' '])
    else:
        area_list.append(None)
    # checking if the row cointains 'name' that is address of property         
    if 'name' in row:
        name_list.append(row['name'])
    else:
        name_list.append(None)
    
    # checking if the row cointains 'price'         
    if 'price' in row:
        price_list.append(row['price'])
    else:
        price_list.append(None)        
    
    # checking if the row cointains 'lat' that is lattitude of property         
    if 'lat' in row:
        lat_list.append(row['lat'])
    else:
        lat_list.append(None)  
        
    # checking if the row cointains 'long' that is lattitude of property             
    if 'long' in row:
        long_list.append(row['long'])
    else:
        long_list.append(None)
        
    # checking if the row cointains 'school' that is lattitude of property             
    if 'school' in row:
        school_list.append(row['school'])
    else:
        school_list.append(None)
        
    # checking if the row cointains 'scholl_distance' that is lattitude of property             
    if 'school_distance' in row:
        school_distance_list.append(row['school_distance'])
    else:
        school_distance_list.append(None)
        
    # checking if the row cointains 'scholl_distance' that is lattitude of property             
    if 'address1' in row:
        address1_list.append(row['address1'])
    else:
        address1_list.append(None)
        
    # checking if the row cointains 'scholl_distance' that is lattitude of property             
    if 'address2' in row:
        address2_list.append(row['address2'])
    else:
        address2_list.append(None)
        
    # checking if the row cointains 'scholl_distance' that is lattitude of property             
    if 'recent_rented_number' in row:
        recent_rented_number_list.append(row['recent_rented_number'])
    else:
        recent_rented_number_list.append(None)
    
    # checking if the row cointains 'scholl_distance' that is lattitude of property             
    if 'recent_rented_price' in row:
        recent_rented_price_list.append(row['recent_rented_price'])
    else:
        recent_rented_price_list.append(None)

In [9]:
#create dataframe 
house_dict = {}
house_dict['Beds'] = beds_list
house_dict['Baths'] = baths_list
house_dict['Parking'] = parking_list
house_dict['Area'] = area_list
house_dict['Address'] = name_list
house_dict['Latitude'] = lat_list
house_dict['Longitude'] = long_list
house_dict['Rent'] = price_list
house_dict['School'] = school_list
house_dict['School_distance'] = school_distance_list
house_dict['Location_1'] = address1_list
house_dict['Location_2'] = address2_list
house_dict['recent_rented_number'] = recent_rented_number_list
house_dict['recent_rented_price'] = recent_rented_price_list
house_df = pd.DataFrame(house_dict)

In [10]:
def remove_chars(s):
    return re.sub('[^0-9.]+', '', s) 

def remove_squaremeter(s):
    if s != None:
        return remove_chars(s)
    else:
        return None

In [11]:
#find pattern for week/annual rent
year_pattern = r"p.a.|annually|annual"
week_pattern = r"pw|week"

regex_week_pattern = re.compile(week_pattern)
regex_year_pattern = re.compile(year_pattern)

#flag type of rent with 1(weekly), 0(annul), None(unknown)
def type_flag(s):
    # week rent
    if (len(regex_week_pattern.findall(s.lower())) != 0 )& (len(regex_year_pattern.findall(s.lower())) == 0) :
        return 1
    # year rent
    elif (len(regex_week_pattern.findall(s.lower())) == 0) & (len(regex_year_pattern.findall(s.lower())) != 0) :
        return 0
    # not speficied
    else:
        return None

#convert rent to weekly rent
#if not sure rent type, it will be considered as weekly rent
def convert_rent(s):
    # week rent
    if (len(regex_week_pattern.findall(s.lower())) != 0 )& (len(regex_year_pattern.findall(s.lower())) == 0) :
        return remove_chars(s)
    # year rent
    elif (len(regex_week_pattern.findall(s.lower())) == 0) & (len(regex_year_pattern.findall(s.lower())) != 0) :
        return float(remove_chars(s))//12
    # not speficied
    else:
        return remove_chars(s)


house_df['Converted_Rent'] = [convert_rent(i) for i in price_list]
house_df['Type'] = [type_flag(i) for i in price_list]

In [12]:
#extract post code
house_df['Postcode'] = house_df['Address'].str[-4:]

#clean area
house_df['Area'] = [remove_squaremeter(i) for i in area_list]

In [13]:
house_df

,Beds,Baths,Parking,Area,Address,Latitude,Longitude,Rent,School,School_distance,Location_1,Location_2,recent_rented_number,recent_rented_price,Converted_Rent,Type,Postcode
0,2,None,None,None,605/455 Elizabeth Street Melbourne VIC 3000,-37.8084293,144.9602064,$500 per week,"[Eltham College - Lonsdale Street Campus, Rive...","[463.3611599786358, 588.5331765906494, 695.270...",[455 Elizabeth St],"[Melbourne, VIC, 3000]",81,None,500,1.0,3000
1,None,None,1,None,309/9 Commercial Road Melbourne VIC 3004,-37.8456125,144.9793561,$500 per week,[SEDA College (Victoria) - Tennis - Albert Par...,"[196.76699981293854, 433.2955593802291, 726.22...",[9 Commercial Rd],"[Melbourne, VIC, 3004]",71,None,500,1.0,3004
2,2,2,1,None,314/499 St Kilda Road Melbourne VIC 3004,-37.8431328,144.9793408,$900 per week (unfurnished),[SEDA College (Victoria) - Tennis - Albert Par...,"[147.59638689110963, 586.8570067562501, 678.78...",[499 St Kilda Rd],"[Melbourne, VIC, 3004]",276,None,900,1.0,3004
3,None,None,1,None,Unit 1713/200 Spencer St Melbourne VIC 3000,-37.816228,144.9532465,$440 per week,"[Eltham College - King Street Campus, Ozford C...","[241.54098639384102, 397.47737499083695, 398.5...",[200 Spencer St],"[Melbourne, VIC, 3000]",506,None,440,1.0,3000
4,None,None,None,None,701/101 Therry St Melbourne VIC 3000,-37.8074149,144.9591227,NEW corner apartment Keep your bond,"[River Nile School, Simonds Catholic College, ...","[444.35865271135503, 572.3778370522139, 577.38...",[Therry St],"[Melbourne, VIC, 3000]",1380,None,,NaN,3000
5,2,2,None,None,816/101 Therry St Melbourne VIC 3000,-37.8074149,144.9591227,New apartment No bond needed Pets welcome,"[River Nile School, Simonds Catholic College, ...","[444.35865271135503, 572.3778370522139, 577.38...",[Therry St],"[Melbourne, VIC, 3000]",1380,None,,NaN,3000
6,2,2,2,None,303/250 St Kilda Road Melbourne VIC 3004,-37.8259165,144.9705248,$1395 Per Week,"[Hester Hornbrook Academy, Melbourne Grammar S...","[745.7774466794033, 866.7220566327758, 961.355...",None,None,None,None,1395,1.0,3004
7,None,None,1,None,805/81 Queens Road Melbourne VIC 3004,-37.853804,144.9798785,$380 weekly,"[Wesley College - St Kilda Road Junior Campus,...","[246.02949240830281, 586.9835254409847, 1034.4...",[81 Queens Rd],"[Melbourne, VIC, 3004]",78,None,380,1.0,3004
8,2,2,1,None,3902/220 Spencer Street Melbourne VIC 3000,-37.8157157,144.9529559,$650 per week,"[Eltham College - King Street Campus, Ozford C...","[291.8975714410087, 352.5634804374277, 353.655...",[220 Spencer St],"[Melbourne, VIC, 3000]",1151,None,650,1.0,3000
9,None,None,None,None,3405/288 Spencer Street Melbourne VIC 3000,-37.813775,144.9520948,$440,"[Ozford College - Ozford College Campus, Ozfor...","[240.2562788817361, 241.10246190089674, 307.86...",[288 Spencer St],"[Melbourne, VIC, 3000]",315,None,440,NaN,3000

In [14]:
house_df['School'][0]

['Eltham College - Lonsdale Street Campus',
 'River Nile School',
 'Ozford College',
 'Ozford College - Ozford College Campus',
 'Simonds Catholic College',
 'Haileybury Girls College - City Campus',
 "St Joseph's Flexible Learning Centre",
 "Stott's Colleges",
 'Eltham College - King Street Campus',
 'Holmes Grammar School',
 'Carlton Gardens Primary School',
 'University High School']

In [15]:
house_df['School_distance'][0]

[463.3611599786358,
 588.5331765906494,
 695.2706405483688,
 696.2817703768635,
 700.2580984189686,
 700.4924347307267,
 724.9315920000029,
 976.7186990778307,
 1046.7892028267775,
 1082.5430994556723,
 1083.2267912562145,
 1329.1968129939876]

In [16]:
bs_object = BeautifulSoup(
    requests.get("https://www.domain.com.au/1-watson-street-armadale-vic-3143-16061315",
                 headers=headers).text, "html.parser")

In [17]:
school_data = json.loads(bs_object.find("script", {"id": "__NEXT_DATA__"}).text)
school = [s['name'] for s in school_data['props']['pageProps']['componentProps']['schoolCatchment']['schools']]
school

['Loreto Mandeville Hall',
 'Armadale Primary School',
 'Our Lady of Lourdes School',
 'The King David School - The Rebecca Magid Centre',
 "Lauriston Girls' School",
 'The King David School',
 "Lauriston Girls' School - Blairholme Campus",
 'The King David School - Junior School',
 'Geelong Grammar School - Toorak campus',
 "St Catherine's School",
 'De La Salle College - Kinnoull Campus',
 'Auburn High School',
 'Port Phillip Specialist School',
 'Southern Autistic School']

In [18]:
schools = pd.DataFrame(school)

In [19]:
schools

                                                   0
0                             Loreto Mandeville Hall
1                            Armadale Primary School
2                         Our Lady of Lourdes School
3   The King David School - The Rebecca Magid Centre
4                            Lauriston Girls' School
5                              The King David School
6        Lauriston Girls' School - Blairholme Campus
7              The King David School - Junior School
8             Geelong Grammar School - Toorak campus
9                              St Catherine's School
10             De La Salle College - Kinnoull Campus
11                                Auburn High School
12                    Port Phillip Specialist School
13                          Southern Autistic School

In [20]:
school= bs_object.find("div", {"data-testid": "listing-details__school-catchment"}).findAll("h5",{"class": "css-5w5cop"})

In [21]:
school

[<h5 class="css-5w5cop" data-testid="fe-co-school-catchment-school-title" itemprop="name">Armadale Primary School</h5>,
 <h5 class="css-5w5cop" data-testid="fe-co-school-catchment-school-title" itemprop="name">Auburn High School</h5>,
 <h5 class="css-5w5cop" data-testid="fe-co-school-catchment-school-title" itemprop="name">Port Phillip Specialist School</h5>]

In [22]:
house_df

,Beds,Baths,Parking,Area,Address,Latitude,Longitude,Rent,School,School_distance,Location_1,Location_2,recent_rented_number,recent_rented_price,Converted_Rent,Type,Postcode
0,2,None,None,None,605/455 Elizabeth Street Melbourne VIC 3000,-37.8084293,144.9602064,$500 per week,"[Eltham College - Lonsdale Street Campus, Rive...","[463.3611599786358, 588.5331765906494, 695.270...",[455 Elizabeth St],"[Melbourne, VIC, 3000]",81,None,500,1.0,3000
1,None,None,1,None,309/9 Commercial Road Melbourne VIC 3004,-37.8456125,144.9793561,$500 per week,[SEDA College (Victoria) - Tennis - Albert Par...,"[196.76699981293854, 433.2955593802291, 726.22...",[9 Commercial Rd],"[Melbourne, VIC, 3004]",71,None,500,1.0,3004
2,2,2,1,None,314/499 St Kilda Road Melbourne VIC 3004,-37.8431328,144.9793408,$900 per week (unfurnished),[SEDA College (Victoria) - Tennis - Albert Par...,"[147.59638689110963, 586.8570067562501, 678.78...",[499 St Kilda Rd],"[Melbourne, VIC, 3004]",276,None,900,1.0,3004
3,None,None,1,None,Unit 1713/200 Spencer St Melbourne VIC 3000,-37.816228,144.9532465,$440 per week,"[Eltham College - King Street Campus, Ozford C...","[241.54098639384102, 397.47737499083695, 398.5...",[200 Spencer St],"[Melbourne, VIC, 3000]",506,None,440,1.0,3000
4,None,None,None,None,701/101 Therry St Melbourne VIC 3000,-37.8074149,144.9591227,NEW corner apartment Keep your bond,"[River Nile School, Simonds Catholic College, ...","[444.35865271135503, 572.3778370522139, 577.38...",[Therry St],"[Melbourne, VIC, 3000]",1380,None,,NaN,3000
5,2,2,None,None,816/101 Therry St Melbourne VIC 3000,-37.8074149,144.9591227,New apartment No bond needed Pets welcome,"[River Nile School, Simonds Catholic College, ...","[444.35865271135503, 572.3778370522139, 577.38...",[Therry St],"[Melbourne, VIC, 3000]",1380,None,,NaN,3000
6,2,2,2,None,303/250 St Kilda Road Melbourne VIC 3004,-37.8259165,144.9705248,$1395 Per Week,"[Hester Hornbrook Academy, Melbourne Grammar S...","[745.7774466794033, 866.7220566327758, 961.355...",None,None,None,None,1395,1.0,3004
7,None,None,1,None,805/81 Queens Road Melbourne VIC 3004,-37.853804,144.9798785,$380 weekly,"[Wesley College - St Kilda Road Junior Campus,...","[246.02949240830281, 586.9835254409847, 1034.4...",[81 Queens Rd],"[Melbourne, VIC, 3004]",78,None,380,1.0,3004
8,2,2,1,None,3902/220 Spencer Street Melbourne VIC 3000,-37.8157157,144.9529559,$650 per week,"[Eltham College - King Street Campus, Ozford C...","[291.8975714410087, 352.5634804374277, 353.655...",[220 Spencer St],"[Melbourne, VIC, 3000]",1151,None,650,1.0,3000
9,None,None,None,None,3405/288 Spencer Street Melbourne VIC 3000,-37.813775,144.9520948,$440,"[Ozford College - Ozford College Campus, Ozfor...","[240.2562788817361, 241.10246190089674, 307.86...",[288 Spencer St],"[Melbourne, VIC, 3000]",315,None,440,NaN,3000

In [23]:
# import required libraries
from pyspark.sql import SparkSession, functions as F
from pyspark.sql.functions import col, isnan, when, count, mean, udf, split, unix_timestamp, from_unixtime
from pyspark.sql.types import StringType, IntegerType

# init SparkSession class
spark = (
    # if available consider use yarn master node
    SparkSession.builder.master("local[*]") 
    
    # spark executor env configuration
    .config("spark.executor.memory", "8g")
    .config("spark.driver.memory", "16g")
    .config("spark.executor.cores", "2")
    .config("spark.executor.instances", "6")
    .config("spark.sql.session.timeZone", "Etc/UTC")
    
    # jvm memory configuration
    .config("spark.memory.offHeap.enabled", "true")
    .config("spark.memory.offHeap.size", "8g")
    
    # parquet file load configuration
    .config("spark.sql.repl.eagerEval.enabled", 'true')
    .config("spark.sql.parquet.cacheMetadata", 'true')
    
    # build the session
    .appName("Pyspark Start Template") # change app name here
    .getOrCreate()
)

# change default log level
spark.sparkContext.setLogLevel('ERROR')

# import libaries
import pandas as pd
import seaborn as sns

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/09/02 23:18:27 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [24]:
house_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Beds                  5 non-null      object
 1   Baths                 4 non-null      object
 2   Parking               6 non-null      object
 3   Area                  0 non-null      object
 4   Address               10 non-null     object
 5   Latitude              10 non-null     object
 6   Longitude             10 non-null     object
 7   Rent                  10 non-null     object
 8   School                10 non-null     object
 9   School_distance       10 non-null     object
 10  Location_1            9 non-null      object
 11  Location_2            9 non-null      object
 12  recent_rented_number  9 non-null      object
 13  recent_rented_price   0 non-null      object
 14  Converted_Rent        10 non-null     object
 15  Type                  7 non-null      float64
 16  Postcode              10 non-null     object
dtypes: float64(1), object(16)
memory usage: 1.5+ KB

In [25]:
house_df.to_parquet('../data/1.parquet')

In [26]:
pdf = spark.read.parquet("../data/1.parquet", header=True)
pdf.limit(5)

+----+-----+-------+----+--------------------+-----------+-----------+--------------------+--------------------+--------------------+------------------+--------------------+--------------------+-------------------+--------------+----+--------+
|Beds|Baths|Parking|Area|             Address|   Latitude|  Longitude|                Rent|              School|     School_distance|        Location_1|          Location_2|recent_rented_number|recent_rented_price|Converted_Rent|Type|Postcode|
+----+-----+-------+----+--------------------+-----------+-----------+--------------------+--------------------+--------------------+------------------+--------------------+--------------------+-------------------+--------------+----+--------+
|   2| null|   null|null|605/455 Elizabeth...|-37.8084293|144.9602064|       $500 per week|[Eltham College -...|[463.361159978635...|[455 Elizabeth St]|[Melbourne, VIC, ...|                  81|               null|           500| 1.0|    3000|
|null| null|      1|null|309/9 Commercial ...|-37.8456125|144.9793561|       $500 per week|[SEDA College (Vi...|[196.766999812938...| [9 Commercial Rd]|[Melbourne, VIC, ...|                  71|               null|           500| 1.0|    3004|
|   2|    2|      1|null|314/499 St Kilda ...|-37.8431328|144.9793408|$900 per week (un...|[SEDA College (Vi...|[147.596386891109...| [499 St Kilda Rd]|[Melbourne, VIC, ...|                 276|               null|           900| 1.0|    3004|
|null| null|      1|null|Unit 1713/200 Spe...| -37.816228|144.9532465|       $440 per week|[Eltham College -...|[241.540986393841...|  [200 Spencer St]|[Melbourne, VIC, ...|                 506|               null|           440| 1.0|    3000|
|null| null|   null|null|701/101 Therry St...|-37.8074149|144.9591227|NEW corner apartm...|[River Nile Schoo...|[444.358652711355...|       [Therry St]|[Melbourne, VIC, ...|                1380|               null|              |null|    3000|
+----+-----+-------+----+--------------------+-----------+-----------+--------------------+--------------------+--------------------+------------------+--------------------+--------------------+-------------------+--------------+----+--------+

In [27]:
pdf.printSchema()

root
 |-- Beds: string (nullable = true)
 |-- Baths: string (nullable = true)
 |-- Parking: string (nullable = true)
 |-- Area: integer (nullable = true)
 |-- Address: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Longitude: string (nullable = true)
 |-- Rent: string (nullable = true)
 |-- School: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- School_distance: array (nullable = true)
 |    |-- element: double (containsNull = true)
 |-- Location_1: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- Location_2: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- recent_rented_number: string (nullable = true)
 |-- recent_rented_price: integer (nullable = true)
 |-- Converted_Rent: string (nullable = true)
 |-- Type: double (nullable = true)
 |-- Postcode: string (nullable = true)

In [1]:
import os
os.chdir('../scripts')

from scrape_domain import *
from constants import *
from utils import *

In [ ]:
len(domain_links)

15354

In [15]:
links = {'https://www.domain.com.au/-11-mitchell-street-upper-coomera-qld-4209-16026064',
 'https://www.domain.com.au/-4-zeus-circuit-coomera-waters-qld-4209-16060857',
 'https://www.domain.com.au/-7-mitchell-street-upper-coomera-qld-4209-16037324',
 'https://www.domain.com.au/1-1-success-crescent-ormeau-qld-4208-16029719',
 'https://www.domain.com.au/1-16-ferncliffe-street-upper-coomera-qld-4209-16069246',
 'https://www.domain.com.au/1-2-cassius-way-ormeau-qld-4208-16053673',}

In [15]:
bs_object = BeautifulSoup(
    requests.get(links,
                 headers=headers).text, "html.parser")

In [18]:
school_data = json.loads(bs_object.find("script", {"id": "__NEXT_DATA__"}).text)
school_data['props']['pageProps']["layoutProps"]["digitalData"]["page"]["pageInfo"]

{'agencyId': 26457,
 'author': 26457,
 'pageId': 16041434,
 'pageName': 'property details - rent - 16041434 - 0203/233 collins st melbourne vic 3000',
 'effectiveDate': '2022-08-30T11:34:02.997',
 'issueDate': '2022-08-16T14:33:51.403',
 'property': {'rentalMethod': 'rent',
  'address': '0203/233 Collins St, Melbourne VIC 3000',
  'adtype': 'elite',
  'agency': 'Accor Realty',
  'agencyId': 26457,
  'agentNames': 'Residences Team Melbourne',
  'bathrooms': 1,
  'bedrooms': 2,
  'daysListed': 18,
  'dateListed': '2022-08-16T14:33:52',
  'inspectionsCount': 0,
  'hasPhoto': True,
  'hasFloorplan': False,
  'hasDisplayPrice': True,
  'hasDescription': True,
  'descriptionHasEmail': False,
  'descriptionHasPhone': False,
  'hasSOI': False,
  'virtualTour': False,
  'floorPlansCount': 0,
  'images': ['https://bucket-api.domain.com.au/v1/bucket/image/16041434_1_1_220816_043351-w360-h480',
   'https://bucket-api.domain.com.au/v1/bucket/image/16041434_2_1_220816_043351-w480-h640',
   'https://bucket-api.domain.com.au/v1/bucket/image/16041434_3_1_220816_043351-w360-h480',
   'https://bucket-api.domain.com.au/v1/bucket/image/15919422_1_1_220605_114653-w2048-h1536',
   'https://bucket-api.domain.com.au/v1/bucket/image/16031887_3_1_220810_023354-w3000-h2000',
   'https://bucket-api.domain.com.au/v1/bucket/image/15861620_7_1_220502_124959-w2048-h1536',
   'https://bucket-api.domain.com.au/v1/bucket/image/15897098_5_1_220523_013634-w2048-h1536',
   'https://bucket-api.domain.com.au/v1/bucket/image/15861620_6_1_220502_125000-w2048-h1536'],
  'onlineAuctionAvailable': 'None',
  'parking': 0,
  'photoCount': 8,
  'postcode': '3000',
  'primaryPropertyType': 'Apartment',
  'structuredFeatures': [{'name': 'Air conditioning',
    'category': 'Indoor',
    'source': 'suggested'},
   {'name': 'Built in wardrobes', 'category': 'Indoor', 'source': 'suggested'},
   {'name': 'Internal Laundry', 'category': 'Indoor', 'source': 'suggested'},
   {'name': 'Dishwasher', 'category': 'Indoor', 'source': 'suggested'}],
  'secondaryPropertyType': 'Apartment / Unit / Flat',
  'state': 'VIC',
  'suburb': 'Melbourne',
  'videoCount': 0,
  'x-message': 'domain-propertyinfo'},
 'isEmbeddedApp': False,
 'source': 'Unknown',
 'brand': 'domain',
 'generator': 'DO',
 'sysEnv': 'responsive'}

In [25]:
links = ('https://www.domain.com.au/-11-mitchell-street-upper-coomera-qld-4209-16026064',
 'https://www.domain.com.au/-4-zeus-circuit-coomera-waters-qld-4209-16060857',
 'https://www.domain.com.au/-7-mitchell-street-upper-coomera-qld-4209-16037324',
 'https://www.domain.com.au/1-1-success-crescent-ormeau-qld-4208-16029719',
 'https://www.domain.com.au/1-16-ferncliffe-street-upper-coomera-qld-4209-16069246',
 'https://www.domain.com.au/1-2-cassius-way-ormeau-qld-4208-16053673')

In [1]:
import re

In [5]:
bs_object = BeautifulSoup(
    requests.get('https://www.domain.com.au/-11-mitchell-street-upper-coomera-qld-4209-16026064',
                 headers=headers).text, "html.parser")

In [6]:
property_price = bs_object.find("div", {"data-testid": "listing-details__summary-title"})
property_price

In [7]:
property_df1 = {}

In [8]:

property_df1['price'] = re.compile(r'\d{3}').findall(str(property_price))[0]
property_df1

{'price': '680'}

In [10]:
property = pd.Series(property_df1)
property

price    680
dtype: object

In [13]:
a = {'price': '680', 'price': '500'}
b = pd.DataFrame.to_dict(a)
b

AttributeError: 'dict' object has no attribute 'columns'

In [1]:
from bs4 import BeautifulSoup
import requests

import unicodedata
from csv import writer
import re

import pandas as pd
import numpy as np

import json

In [2]:
headers = {
    "User-Agent": "Mozilla/5.0 (X11; CrOS x86_64 12871.102.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.141 Safari/537.36"
}

In [3]:
all_links = 'https://www.domain.com.au/-11-mitchell-street-upper-coomera-qld-4209-16026064'

In [4]:
basic_feature_list = []
for link in all_links:
    
    # opening urls
    bs_object = BeautifulSoup(requests.get(all_links, headers=headers).text, "html.parser")
    
    
    # extracting property price
    property_price = bs_object.find("div", {"data-testid": "listing-details__summary-title"})
    
        
    # dictionary to store temporary data
    basic_feature_dict = {}
    
    # putting 'none' if price is missing    
    if property_price is None:
        basic_feature_dict['price'] = None
        
    else:
        basic_feature_dict['price'] = re.compile(r'\d{3}').findall(str(property_price))[0]

In [5]:
# appending all the data into a list
basic_feature_list.append(basic_feature_dict)

In [6]:
price_list = []
for row in basic_feature_list:
    # checking if the row cointains 'price'         
    if 'price' in row:
        price_list.append(row['price'])
    else:
        price_list.append(None)

In [7]:
house_dict = {}
house_dict['Rent'] = price_list

In [8]:
house_df = pd.DataFrame(house_dict)

In [9]:
house_df

  Rent
0  680

In [1]:
from bs4 import BeautifulSoup
import requests

import unicodedata
from csv import writer
import re

import pandas as pd
import numpy as np

import json

In [2]:
headers = {
    "User-Agent": "Mozilla/5.0 (X11; CrOS x86_64 12871.102.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.141 Safari/537.36"
}

In [3]:
all_links = 'https://www.domain.com.au/-11-mitchell-street-upper-coomera-qld-4209-16026064'

In [4]:
bs_object = BeautifulSoup(requests.get(all_links, headers=headers).text, "html.parser")

In [5]:
data = json.loads(bs_object.find("script", {"id": "__NEXT_DATA__"}).text)

In [9]:
int(data["props"]["pageProps"]["layoutProps"]['canonical'].split('-')[-1])

16026064

In [14]:
data["props"]["pageProps"]["componentProps"]['listingsMap']['id1']['listingModel']['price']

{'11787582': {'listingType': 'residential',
  'listingModel': {'promoLevel': 'standard',
   'promoType': 'standard',
   'price': '$680 per week',
   'features': {'beds': 4,
    'baths': 2,
    'parking': 2,
    'propertyType': 'house',
    'propertyTypeFormatted': 'House',
    'isRural': False,
    'landSize': 0,
    'landUnit': 'mÂ²',
    'isRetirement': False},
   'images': ['https://rimh2.domainstatic.com.au/Jq8T5KIvNcxiBakTttrBDmc2l-o=/305x208/filters:format(jpeg):quality(80):no_upscale()/11787582_1_1_191030_064158-w550-h412'],
   'address': {'street': '6 Kingsford Drive', 'suburb': 'Upper Coomera'},
   'landSize': 0,
   'url': 'https://www.domain.com.au/6-kingsford-drive-upper-coomera-qld-4209-11787582',
   'additionalFeatures': []},
  'domainWebsiteUrl': '',
  'id': 11787582,
  'propertyType': 'house'},
 '14206948': {'listingType': 'residential',
  'listingModel': {'promoLevel': 'standard',
   'promoType': 'standard',
   'price': '$560',
   'features': {'beds': 4,
    'baths': 2,
    'parking': 2,
    'propertyType': 'house',
    'propertyTypeFormatted': 'House',
    'isRural': False,
    'landSize': 0,
    'landUnit': 'mÂ²',
    'isRetirement': False},
   'images': ['https://rimh2.domainstatic.com.au/dp3iykrU0Q9NSUr0VV898piePMQ=/305x208/filters:format(jpeg):quality(80):no_upscale()/14206948_1_1_200501_054930-w2000-h1335'],
   'address': {'street': '114 Coomera Springs Boulevard',
    'suburb': 'Upper Coomera'},
   'landSize': 0,
   'url': 'https://www.domain.com.au/114-coomera-springs-boulevard-upper-coomera-qld-4209-14206948',
   'additionalFeatures': []},
  'domainWebsiteUrl': '',
  'id': 14206948,
  'propertyType': 'house'},
 '14383146': {'listingType': 'residential',
  'listingModel': {'promoLevel': 'standard',
   'promoType': 'standard',
   'price': '$660 per week',
   'features': {'beds': 4,
    'baths': 2,
    'parking': 2,
    'propertyType': 'house',
    'propertyTypeFormatted': 'House',
    'isRural': False,
    'landSize': 0,
    'landUnit': 'mÂ²',
    'isRetirement': False},
   'images': ['https://rimh2.domainstatic.com.au/Fl_rw795yYE72Cd_Ncz18trsy8w=/305x208/filters:format(jpeg):quality(80):no_upscale()/2017934737_1_1_220715_030242-w1000-h667'],
   'address': {'street': '46 Wildflower Circuit', 'suburb': 'Upper Coomera'},
   'landSize': 0,
   'url': 'https://www.domain.com.au/46-wildflower-circuit-upper-coomera-qld-4209-14383146',
   'additionalFeatures': []},
  'domainWebsiteUrl': '',
  'id': 14383146,
  'propertyType': 'house'},
 '14995854': {'listingType': 'residential',
  'listingModel': {'promoLevel': 'premiumplus',
   'promoType': 'premiumplus',
   'price': '$680',
   'features': {'beds': 4,
    'baths': 2,
    'parking': 2,
    'propertyType': 'house',
    'propertyTypeFormatted': 'House',
    'isRural': False,
    'landSize': 0,
    'landUnit': 'mÂ²',
    'isRetirement': False},
   'images': ['https://rimh2.domainstatic.com.au/Fy1luBMnH6AwVcBhuyJZ3pcN5Jo=/305x208/filters:format(jpeg):quality(80):no_upscale()/14995854_1_1_210319_015723-w1613-h1080'],
   'address': {'street': '13 Keppel Way', 'suburb': 'Coomera'},
   'landSize': 0,
   'url': 'https://www.domain.com.au/13-keppel-way-coomera-qld-4209-14995854',
   'additionalFeatures': []},
  'domainWebsiteUrl': '',
  'id': 14995854,
  'propertyType': 'house'},
 '15315012': {'listingType': 'residential',
  'listingModel': {'promoLevel': 'elite',
   'promoType': 'elite',
   'price': '$650',
   'features': {'beds': 4,
    'baths': 2,
    'parking': 2,
    'propertyType': 'house',
    'propertyTypeFormatted': 'House',
    'isRural': False,
    'landSize': 0,
    'landUnit': 'mÂ²',
    'isRetirement': False},
   'images': ['https://rimh2.domainstatic.com.au/JFSzS0GvsW6OSjyqQ5jE_G85YiQ=/305x208/filters:format(jpeg):quality(80):no_upscale()/15315012_1_1_210810_015433-w800-h600'],
   'address': {'street': '27 Treecreeper Crescent', 'suburb': 'Upper Coomera'},
   'landSize': 0,
   'url': 'https://www.domain.com.au/27-treecreeper-crescent-upper-coomera-qld-4209-15315012',
   'additionalFeatures': []},
  'domainWebsiteUrl': '',
  'id': 15315012,
  'propertyType': 'house'},
 '15340817': {'listingType': 'residential',
  'listingModel': {'promoLevel': 'elite',
   'promoType': 'elite',
   'price': '$720',
   'features': {'beds': 4,
    'baths': 2,
    'parking': 2,
    'propertyType': 'house',
    'propertyTypeFormatted': 'House',
    'isRural': False,
    'landSize': 0,
    'landUnit': 'mÂ²',
    'isRetirement': False},
   'images': ['https://rimh2.domainstatic.com.au/-sw06SadMxqbi58CT0_F1c3SXV4=/305x208/filters:format(jpeg):quality(80):no_upscale()/15340817_1_1_210823_051452-w1619-h1080'],
   'address': {'street': '2/11 Hackney Court', 'suburb': 'Upper Coomera'},
   'landSize': 0,
   'url': 'https://www.domain.com.au/2-11-hackney-court-upper-coomera-qld-4209-15340817',
   'additionalFeatures': []},
  'domainWebsiteUrl': '',
  'id': 15340817,
  'propertyType': 'house'},
 '15430445': {'listingType': 'residential',
  'listingModel': {'promoLevel': 'premiumplus',
   'promoType': 'premiumplus',
   'price': '$650',
   'features': {'beds': 4,
    'baths': 2,
    'parking': 2,
    'propertyType': 'house',
    'propertyTypeFormatted': 'House',
    'isRural': False,
    'landSize': 0,
    'landUnit': 'mÂ²',
    'isRetirement': False},
   'images': ['https://rimh2.domainstatic.com.au/JZFUSfqPAFhYXZBRFnfng_cJuwU=/305x208/filters:format(jpeg):quality(80):no_upscale()/15430445_1_1_211006_020219-w800-h533'],
   'address': {'street': '23 Glasswing Drive', 'suburb': 'Upper Coomera'},
   'landSize': 0,
   'url': 'https://www.domain.com.au/23-glasswing-drive-upper-coomera-qld-4209-15430445',
   'additionalFeatures': []},
  'domainWebsiteUrl': '',
  'id': 15430445,
  'propertyType': 'house'},
 '16018893': {'listingType': 'residential',
  'listingModel': {'promoLevel': 'elite',
   'promoType': 'elite',
   'price': '$650.00 per week',
   'features': {'beds': 4,
    'baths': 2,
    'parking': 2,
    'propertyType': 'house',
    'propertyTypeFormatted': 'House',
    'isRural': False,
    'landSize': 0,
    'landUnit': 'mÂ²',
    'isRetirement': False},
   'images': ['https://rimh2.domainstatic.com.au/SLornJ-y9eJl9GMUFnu1ocMyd6c=/305x208/filters:format(jpeg):quality(80):no_upscale()/16018893_1_1_220802_115805-w1199-h800'],
   'address': {'street': '7 Banksia Terrace', 'suburb': 'Coomera'},
   'landSize': 0,
   'url': 'https://www.domain.com.au/7-banksia-terrace-coomera-qld-4209-16018893',
   'additionalFeatures': []},
  'domainWebsiteUrl': '',
  'id': 16018893,
  'propertyType': 'house'},
 '16026064': {'id': 16026064,
  'listingType': 'listing',
  'listingModel': {'url': 'https://www.domain.com.au/-11-mitchell-street-upper-coomera-qld-4209-16026064',
   'images': ['https://rimh2.domainstatic.com.au/lZ_5ilbmMMxHI7mvf-9UaixYP9k=/660x440/filters:format(jpeg):quality(80)/16026064_1_1_220805_082031-w1703-h925'],
   'price': '$680 per week',
   'address': {'street': '#11 Mitchell Street',
    'suburb': 'Upper Coomera',
    'state': 'QLD',
    'postcode': '4209',
    'lat': -27.8607022,
    'lng': 153.2912192},
   'features': {'beds': 4,
    'baths': 2,
    'parking': 2,
    'propertyType': 'house',
    'propertyTypeFormatted': 'House',
    'isRural': False,
    'landSize': 0,
    'landUnit': 'mÂ²',
    'isRetirement': False}}},
 '16037324': {'listingType': 'residential',
  'listingModel': {'promoLevel': 'standard',
   'promoType': 'standard',
   'price': '$680 per week',
   'features': {'beds': 4,
    'baths': 2,
    'parking': 0,
    'propertyType': 'house',
    'propertyTypeFormatted': 'House',
    'isRural': False,
    'landSize': 0,
    'landUnit': 'mÂ²',
    'isRetirement': False},
   'images': ['https://rimh2.domainstatic.com.au/Ke4wCWg0_CB7B93cU2kywu1qa6Y=/305x208/filters:format(jpeg):quality(80):no_upscale()/16037324_1_1_220901_062036-w1380-h924'],
   'address': {'street': '#7 Mitchell Street', 'suburb': 'Upper Coomera'},
   'landSize': 0,
   'url': 'https://www.domain.com.au/-7-mitchell-street-upper-coomera-qld-4209-16037324',
   'additionalFeatures': []},
  'domainWebsiteUrl': '',
  'id': 16037324,
  'propertyType': 'house'},
 '16043127': {'listingType': 'residential',
  'listingModel': {'promoLevel': 'premiumplus',
   'promoType': 'premiumplus',
   'price': 'REDUCED! $850 per week',
   'features': {'beds': 4,
    'baths': 2,
    'parking': 3,
    'propertyType': 'house',
    'propertyTypeFormatted': 'House',
    'isRural': False,
    'landSize': 0,
    'landUnit': 'mÂ²',
    'isRetirement': False},
   'images': ['https://rimh2.domainstatic.com.au/jKhalmbkbG4DjZy5hQDOYKs3Q1s=/305x208/filters:format(jpeg):quality(80):no_upscale()/16043127_1_1_220817_021237-w5607-h3738'],
   'address': {'street': '1 Cabriolet Court', 'suburb': 'Upper Coomera'},
   'landSize': 0,
   'url': 'https://www.domain.com.au/1-cabriolet-court-upper-coomera-qld-4209-16043127',
   'additionalFeatures': []},
  'domainWebsiteUrl': '',
  'id': 16043127,
  'propertyType': 'house'},
 '16047846': {'listingType': 'residential',
  'listingModel': {'promoLevel': 'standard',
   'promoType': 'standard',
   'price': '$620',
   'features': {'beds': 4,
    'baths': 2,
    'parking': 2,
    'propertyType': 'house',
    'propertyTypeFormatted': 'House',
    'isRural': False,
    'landSize': 0,
    'landUnit': 'mÂ²',
    'isRetirement': False},
   'images': ['https://rimh2.domainstatic.com.au/_oRbMQ2L4dm39aRZp8wWw-fOJmA=/305x208/filters:format(jpeg):quality(80):no_upscale()/16047846_1_1_220819_014955-w2000-h1333'],
   'address': {'street': '3 Ava Court', 'suburb': 'Upper Coomera'},
   'landSize': 0,
   'url': 'https://www.domain.com.au/3-ava-court-upper-coomera-qld-4209-16047846',
   'additionalFeatures': []},
  'domainWebsiteUrl': '',
  'id': 16047846,
  'propertyType': 'house'},
 '16051950': {'listingType': 'residential',
  'listingModel': {'promoLevel': 'elite',
   'promoType': 'elite',
   'price': '$650',
   'features': {'beds': 4,
    'baths': 2,
    'parking': 2,
    'propertyType': 'house',
    'propertyTypeFormatted': 'House',
    'isRural': False,
    'landSize': 0,
    'landUnit': 'mÂ²',
    'isRetirement': False},
   'images': ['https://rimh2.domainstatic.com.au/WgLtcElBlax4H4ln9vr-nHrz_WQ=/305x208/filters:format(jpeg):quality(80):no_upscale()/16051950_1_1_220822_103617-w1280-h1280'],
   'address': {'street': '27 Tim Place', 'suburb': 'Coomera'},
   'landSize': 0,
   'url': 'https://www.domain.com.au/27-tim-place-coomera-qld-4209-16051950',
   'additionalFeatures': []},
  'domainWebsiteUrl': '',
  'id': 16051950,
  'propertyType': 'house'},
 '16053024': {'listingType': 'residential',
  'listingModel': {'promoLevel': 'elite',
   'promoType': 'elite',
   'price': '$700 Per Week',
   'features': {'beds': 4,
    'baths': 2,
    'parking': 2,
    'propertyType': 'house',
    'propertyTypeFormatted': 'House',
    'isRural': False,
    'landSize': 0,
    'landUnit': 'mÂ²',
    'isRetirement': False},
   'images': ['https://rimh2.domainstatic.com.au/P9Fp3tSoMnm3hx-d_UInygakEbk=/305x208/filters:format(jpeg):quality(80):no_upscale()/16053024_1_1_220823_022922-w1200-h900'],
   'address': {'street': '17 Matzia Avenue', 'suburb': 'Pacific Pines'},
   'landSize': 0,
   'url': 'https://www.domain.com.au/17-matzia-avenue-pacific-pines-qld-4211-16053024',
   'additionalFeatures': []},
  'domainWebsiteUrl': '',
  'id': 16053024,
  'propertyType': 'house'},
 '16057338': {'listingType': 'residential',
  'listingModel': {'promoLevel': 'elite',
   'promoType': 'elite',
   'price': '$700.00 per week',
   'features': {'beds': 4,
    'baths': 2,
    'parking': 2,
    'propertyType': 'house',
    'propertyTypeFormatted': 'House',
    'isRural': False,
    'landSize': 0,
    'landUnit': 'mÂ²',
    'isRetirement': False},
   'images': ['https://rimh2.domainstatic.com.au/siaT___K9O_VKyZtAYI0jlYWbLw=/305x208/filters:format(jpeg):quality(80):no_upscale()/16057338_1_1_220825_024352-w3534-h1389'],
   'address': {'street': '21 Saint Stephens Drive', 'suburb': 'Upper Coomera'},
   'landSize': 0,
   'url': 'https://www.domain.com.au/21-saint-stephens-drive-upper-coomera-qld-4209-16057338',
   'additionalFeatures': []},
  'domainWebsiteUrl': '',
  'id': 16057338,
  'propertyType': 'house'},
 '16061091': {'listingType': 'residential',
  'listingModel': {'promoLevel': 'premiumplus',
   'promoType': 'premiumplus',
   'price': '$695',
   'features': {'beds': 4,
    'baths': 2,
    'parking': 2,
    'propertyType': 'house',
    'propertyTypeFormatted': 'House',
    'isRural': False,
    'landSize': 0,
    'landUnit': 'mÂ²',
    'isRetirement': False},
   'images': ['https://rimh2.domainstatic.com.au/wCarr8G_c3MMvPAiWTJ8n82UAE8=/305x208/filters:format(jpeg):quality(80):no_upscale()/16061091_1_1_220829_032219-w5255-h3500'],
   'address': {'street': '26 William Boulevard', 'suburb': 'Pimpama'},
   'landSize': 0,
   'url': 'https://www.domain.com.au/26-william-boulevard-pimpama-qld-4209-16061091',
   'additionalFeatures': []},
  'domainWebsiteUrl': '',
  'id': 16061091,
  'propertyType': 'house'},
 '16061302': {'listingType': 'residential',
  'listingModel': {'promoLevel': 'elite',
   'promoType': 'elite',
   'price': '$650 per week',
   'features': {'beds': 3,
    'baths': 2,
    'parking': 2,
    'propertyType': 'house',
    'propertyTypeFormatted': 'House',
    'isRural': False,
    'landSize': 0,
    'landUnit': 'mÂ²',
    'isRetirement': False},
   'images': ['https://rimh2.domainstatic.com.au/l2_8yCjAu0yzVlSd8mH2rHI_zp0=/305x208/filters:format(jpeg):quality(80):no_upscale()/16061302_1_1_220829_014634-w1200-h900'],
   'address': {'street': '4 Bishopwood Court', 'suburb': 'Upper Coomera'},
   'landSize': 0,
   'url': 'https://www.domain.com.au/4-bishopwood-court-upper-coomera-qld-4209-16061302',
   'additionalFeatures': []},
  'domainWebsiteUrl': '',
  'id': 16061302,
  'propertyType': 'house'},
 '16062457': {'listingType': 'residential',
  'listingModel': {'promoLevel': 'standard',
   'promoType': 'standard',
   'price': '$580 per week',
   'features': {'beds': 4,
    'baths': 2,
    'parking': 2,
    'propertyType': 'house',
    'propertyTypeFormatted': 'House',
    'isRural': False,
    'landSize': 0,
    'landUnit': 'mÂ²',
    'isRetirement': False},
   'images': ['https://rimh2.domainstatic.com.au/QZ2w4ANItgFDhM9KKAIMYFBObKs=/305x208/filters:format(jpeg):quality(80):no_upscale()/16062457_1_1_220829_063634-w1599-h1200'],
   'address': {'street': '6 Skylark Street', 'suburb': 'Upper Coomera'},
   'landSize': 0,
   'url': 'https://www.domain.com.au/6-skylark-street-upper-coomera-qld-4209-16062457',
   'additionalFeatures': []},
  'domainWebsiteUrl': '',
  'id': 16062457,
  'propertyType': 'house'},
 '16065414': {'listingType': 'residential',
  'listingModel': {'promoLevel': 'elite',
   'promoType': 'elite',
   'price': '$650 per week',
   'features': {'beds': 4,
    'baths': 2,
    'parking': 2,
    'propertyType': 'house',
    'propertyTypeFormatted': 'House',
    'isRural': False,
    'landSize': 0,
    'landUnit': 'mÂ²',
    'isRetirement': False},
   'images': ['https://rimh2.domainstatic.com.au/QZjTMXgU_IHosbZtULezvWzYTdw=/305x208/filters:format(jpeg):quality(80):no_upscale()/16065414_1_1_220831_122317-w1200-h900'],
   'address': {'street': '2 Worth Court', 'suburb': 'Upper Coomera'},
   'landSize': 0,
   'url': 'https://www.domain.com.au/2-worth-court-upper-coomera-qld-4209-16065414',
   'additionalFeatures': []},
  'domainWebsiteUrl': '',
  'id': 16065414,
  'propertyType': 'house'},
 '16069320': {'listingType': 'residential',
  'listingModel': {'promoLevel': 'elite',
   'promoType': 'elite',
   'price': '795.00 per week',
   'features': {'beds': 4,
    'baths': 2,
    'parking': 2,
    'propertyType': 'house',
    'propertyTypeFormatted': 'House',
    'isRural': False,
    'landSize': 0,
    'landUnit': 'mÂ²',
    'isRetirement': False},
   'images': ['https://rimh2.domainstatic.com.au/KhIYbfpz5HOaHFJApRHPQ8D9IpA=/305x208/filters:format(jpeg):quality(80):no_upscale()/16069320_1_1_220901_100014-w1800-h1199'],
   'address': {'street': '14 Runway Drive', 'suburb': 'Upper Coomera'},
   'landSize': 0,
   'url': 'https://www.domain.com.au/14-runway-drive-upper-coomera-qld-4209-16069320',
   'additionalFeatures': [],
   'tags': {'key': 'new', 'tagText': 'NEW', 'tagClassName': 'is-new'}},
  'domainWebsiteUrl': '',
  'id': 16069320,
  'propertyType': 'house'},
 '16069810': {'listingType': 'residential',
  'listingModel': {'promoLevel': 'standard',
   'promoType': 'standard',
   'price': '$700 Weekly',
   'features': {'beds': 4,
    'baths': 2,
    'parking': 2,
    'propertyType': 'house',
    'propertyTypeFormatted': 'House',
    'isRural': False,
    'landSize': 0,
    'landUnit': 'mÂ²',
    'isRetirement': False},
   'images': ['https://rimh2.domainstatic.com.au/3rc9bSHmVv-_BEBApB1rmRlWJ7g=/305x208/filters:format(jpeg):quality(80):no_upscale()/16069810_1_1_220902_011628-w550-h550'],
   'address': {'street': '25 TREECREEPER CRESCENT', 'suburb': 'Upper Coomera'},
   'landSize': 0,
   'url': 'https://www.domain.com.au/25-treecreeper-crescent-upper-coomera-qld-4209-16069810',
   'additionalFeatures': [],
   'tags': {'key': 'new', 'tagText': 'NEW', 'tagClassName': 'is-new'}},
  'domainWebsiteUrl': '',
  'id': 16069810,
  'propertyType': 'house'}}