In [5]:
import pandas as pd

In [6]:
# download the data
from urllib.request import urlretrieve
urlretrieve("https://www.education.vic.gov.au/Documents/about/research/datavic/dv331_schoollocations2022.csv", 
            "school locations.csv")

('school locations.csv', <http.client.HTTPMessage at 0x7fc52aad37c0>)

In [32]:
# read the data
df_school = pd.read_csv("school locations.csv", encoding='cp1252')

In [33]:
df_school

,Education_Sector,Entity_Type,SCHOOL_NO,School_Name,School_Type,School_Status,Address_Line_1,Address_Line_2,Address_Town,Address_State,...,Postal_Address_Line_1,Postal_Address_Line_2,Postal_Town,Postal_State,Postal_Postcode,Full_Phone_No,LGA_ID,LGA_Name,X,Y
0,Government,1,1,Alberton Primary School,Primary,O,21 Thomson Street,NaN,Alberton,VIC,...,21 Thomson Street,NaN,ALBERTON,VIC,3971,03 5183 2412,681,Wellington (S),146.66660,-38.61771
1,Government,1,3,Allansford and District Primary School,Primary,O,Frank Street,NaN,Allansford,VIC,...,Frank Street,NaN,ALLANSFORD,VIC,3277,03 5565 1382,673,Warrnambool (C),142.59039,-38.38628
2,Government,1,4,Avoca Primary School,Primary,O,118 Barnett Street,NaN,Avoca,VIC,...,P O Box 12,NaN,AVOCA,VIC,3467,03 5465 3176,599,Pyrenees (S),143.47565,-37.08450
3,Government,1,8,Avenel Primary School,Primary,O,40 Anderson Street,NaN,Avenel,VIC,...,40 Anderson Street,NaN,AVENEL,VIC,3664,03 5796 2264,643,Strathbogie (S),145.23472,-36.90137
4,Government,1,12,Warrandyte Primary School,Primary,O,5-11 Forbes Street,NaN,Warrandyte,VIC,...,5-11 Forbes Street,NaN,WARRANDYTE,VIC,3113,03 9844 3537,421,Manningham (C),145.21398,-37.74268
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2294,Independent,2,2243,Lysterfield Lake College,Primary,O,20 A’Beckett Road,NaN,NARRE WARREN NORTH,VIC,...,20 A’Beckett Road,NaN,NARRE WARREN NORTH,VIC,3804,03-,161,Casey (C),145.31604,-37.97748
2295,Independent,2,2244,Plenty River College,Secondary,O,"Unit 5, 9 Danaher Drive",NaN,SOUTH MORANG,VIC,...,"Unit 5, 9 Danaher Drive",NaN,SOUTH MORANG,VIC,3752,03 9435 9060,707,Whittlesea (C),145.08148,-37.64875
2296,Catholic,2,2245,Holy Cross Catholic Primary School,Primary,O,2-14 Carlingford Rd,NaN,MICKLEHAM,VIC,...,2-14 Carlingford Rd,NaN,MICKLEHAM,VIC,3064,03 9216 4200,327,Hume (C),144.90520,-37.53046
2297,Independent,2,2246,Sidrah Gardens School,Primary,O,434-442 Belgrave-Hallam Road,NaN,NARRE WARREN NORTH,VIC,...,434-442 Belgrave-Hallam Road,NaN,NARRE WARREN NORTH,VIC,3804,03-,161,Casey (C),145.31589,-37.97324
2298,Independent,2,2247,Mountain District Community College,Secondary,O,13-15 The Avenue,NaN,FERNTREE GULLY,VIC,...,13-15 The Avenue,NaN,FERNTREE GULLY,VIC,3156,03 9758 7859,367,Knox (C),145.29327,-37.88319

In [40]:
# see how many categories are in the Education_Sector columns
df_school['Education_Sector'].groupby(df_school['Education_Sector']).count()

Education_Sector
Catholic        499
Government     1569
Independent     231
Name: Education_Sector, dtype: int64

In [34]:
# get the number of scholls in each postcode area
df_school['num_of_school'] = df_school['Postal_Postcode'].groupby(df_school['Postal_Postcode']).transform('count')
df_school

,Education_Sector,Entity_Type,SCHOOL_NO,School_Name,School_Type,School_Status,Address_Line_1,Address_Line_2,Address_Town,Address_State,...,Postal_Address_Line_2,Postal_Town,Postal_State,Postal_Postcode,Full_Phone_No,LGA_ID,LGA_Name,X,Y,num_of_school
0,Government,1,1,Alberton Primary School,Primary,O,21 Thomson Street,NaN,Alberton,VIC,...,NaN,ALBERTON,VIC,3971,03 5183 2412,681,Wellington (S),146.66660,-38.61771,4
1,Government,1,3,Allansford and District Primary School,Primary,O,Frank Street,NaN,Allansford,VIC,...,NaN,ALLANSFORD,VIC,3277,03 5565 1382,673,Warrnambool (C),142.59039,-38.38628,1
2,Government,1,4,Avoca Primary School,Primary,O,118 Barnett Street,NaN,Avoca,VIC,...,NaN,AVOCA,VIC,3467,03 5465 3176,599,Pyrenees (S),143.47565,-37.08450,1
3,Government,1,8,Avenel Primary School,Primary,O,40 Anderson Street,NaN,Avenel,VIC,...,NaN,AVENEL,VIC,3664,03 5796 2264,643,Strathbogie (S),145.23472,-36.90137,1
4,Government,1,12,Warrandyte Primary School,Primary,O,5-11 Forbes Street,NaN,Warrandyte,VIC,...,NaN,WARRANDYTE,VIC,3113,03 9844 3537,421,Manningham (C),145.21398,-37.74268,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2294,Independent,2,2243,Lysterfield Lake College,Primary,O,20 A’Beckett Road,NaN,NARRE WARREN NORTH,VIC,...,NaN,NARRE WARREN NORTH,VIC,3804,03-,161,Casey (C),145.31604,-37.97748,6
2295,Independent,2,2244,Plenty River College,Secondary,O,"Unit 5, 9 Danaher Drive",NaN,SOUTH MORANG,VIC,...,NaN,SOUTH MORANG,VIC,3752,03 9435 9060,707,Whittlesea (C),145.08148,-37.64875,4
2296,Catholic,2,2245,Holy Cross Catholic Primary School,Primary,O,2-14 Carlingford Rd,NaN,MICKLEHAM,VIC,...,NaN,MICKLEHAM,VIC,3064,03 9216 4200,327,Hume (C),144.90520,-37.53046,21
2297,Independent,2,2246,Sidrah Gardens School,Primary,O,434-442 Belgrave-Hallam Road,NaN,NARRE WARREN NORTH,VIC,...,NaN,NARRE WARREN NORTH,VIC,3804,03-,161,Casey (C),145.31589,-37.97324,6
2298,Independent,2,2247,Mountain District Community College,Secondary,O,13-15 The Avenue,NaN,FERNTREE GULLY,VIC,...,NaN,FERNTREE GULLY,VIC,3156,03 9758 7859,367,Knox (C),145.29327,-37.88319,11

In [37]:
# rename the columns and remove duplicated rows
df_school_postcode = df_school[['Postal_Postcode', 'num_of_school']]
df_school_postcode.rename(columns={'Postal_Postcode': 'POSTCODE'}, inplace=True)
df_school_postcode = df_school_postcode.drop_duplicates()
df_school_postcode

      POSTCODE  num_of_school
0         3971              4
1         3277              1
2         3467              1
3         3664              1
4         3113              3
...        ...            ...
2055      3923              1
2166      3813              1
2181      3000              4
2225      3026              1
2237      3954              2

[581 rows x 2 columns]

In [38]:
# save the data
df_school_postcode.to_csv("school_postcode.csv")