In [208]:
# sample code to get a HTML document and parse it into the required format you want



import pandas as pd
import unicodedata
from bs4 import BeautifulSoup
import requests
from csv import writer
import re

In [209]:
headers = {"User-Agent":
           "Mozilla/5.0 (X11; CrOS x86_64 12871.102.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.141 Safari/537.36"}

# home url of domian.com australia
home_url = "https://www.domain.com.au"

#postcode of properties
postcode_list = [i for i in range(3000,3100)]

In [210]:
#return unique extracted link for given postcode
def link_by_postcode(postcode):
    
    # list to store all the urls of properties
    list_of_links = []
    
    # store unique link
    abc_links = [] 
    
    # number of pages of search result are 50
    page_numbers = list(range(50))[1:50]
    
    # for loop for all 50 search(melbourne region) pages
    for page in page_numbers:

        # extracting html document of search page
        url = home_url + f"/rent/melbourne-vic-{postcode}/?excludedeposittaken=1&page={page}"

        # parsing html document to 'lxml' format
        bs_object = BeautifulSoup(requests.get(url, headers=headers).text, "html.parser")

        #for each page
        # finding all the links available in 'ul' tag whos 'data-testid' is 'results'
        all_links = bs_object.find(
            "ul", {"data-testid": "results"}).findAll("a", href=re.compile("https://www.domain.com.au/*"))

        # inner loop to find links inside each property page because few properties are project so they have more properties inside their project page
        for link1 in all_links:
            # checking if it is a project and then performing similar above
            if 'project' in link1.attrs['href']:
                inner1_url = link1.attrs['href']
                inner1_bsobj = BeautifulSoup(requests.get(inner1_url, headers=headers).text, "html.parser")
                for link2 in inner1_bsobj.find("div", {"name": "listing-details__other-listings"}).findAll("a", href=re.compile("https://www.domain.com.au/*")):
                    if 'href' in link2.attrs:
                        list_of_links.append(link2.attrs['href'])
            else:
                list_of_links.append(link1.attrs['href'])
   
    # remove deplicated links
    for i in list_of_links: 
        if i not in abc_links: 
            abc_links.append(i) 
    return abc_links

In [220]:
links_test =link_by_postcode(3000)

In [221]:
# defining required regural expression for data extraction     
pattern = re.compile(r'>(.+)<!.*>(.+?)</span>.*')
pattern1 = re.compile(r'>(.+)<.')
pattern2 = re.compile(r'destination=(.+)" rel=.')
basic_feature_list = []


# loop to iterate through each url

#test top 5 link
for link in links_test[:50]:
    
    # opening urls
    bs_object = BeautifulSoup(requests.get(link, headers=headers).text, "html.parser")
    
    # extracting address/name of property
    property_name = bs_object.find("h1", {"class": "css-164r41r"})
    
    # extracting baths, rooms, parking etc
    all_basic_features = bs_object.find("div", {"class": "css-ghc6s4"}).findAll("span", {"data-testid": "property-features-text-container"})
    
    # extracting property price
    property_price = bs_object.find("div", {"data-testid": "listing-details__summary-title"})
    
    # extracting latitudes and longitudes
    lat_long = bs_object.find("a", {"target": "_blank", 'rel': "noopener noreferer"})
    
    # dictionary to store temporary data
    basic_feature_dict = {}
    
    # few properties does not contain all the 4 features such as rooms, baths, parkings, area. So need to check
    # how many features they contain
    if len(all_basic_features) == 4:
        basic_feature_dict[pattern.findall(str(all_basic_features[0]))[0][1]] = pattern.findall(str(all_basic_features[0]))[0][0]
        basic_feature_dict[pattern.findall(str(all_basic_features[1]))[0][1]] = pattern.findall(str(all_basic_features[1]))[0][0]
        basic_feature_dict[pattern.findall(str(all_basic_features[2]))[0][1]] = pattern.findall(str(all_basic_features[2]))[0][0]
        basic_feature_dict[pattern.findall(str(all_basic_features[3]))[0][1]] = pattern.findall(str(all_basic_features[3]))[0][0]
        
    elif len(all_basic_features) == 3:
        basic_feature_dict[pattern.findall(str(all_basic_features[0]))[0][1]] = pattern.findall(str(all_basic_features[0]))[0][0]
        basic_feature_dict[pattern.findall(str(all_basic_features[1]))[0][1]] = pattern.findall(str(all_basic_features[1]))[0][0]
        basic_feature_dict[pattern.findall(str(all_basic_features[2]))[0][1]] = pattern.findall(str(all_basic_features[2]))[0][0]
        
    elif len(all_basic_features) == 2:
        basic_feature_dict[pattern.findall(str(all_basic_features[0]))[0][1]] = pattern.findall(str(all_basic_features[0]))[0][0]
        basic_feature_dict[pattern.findall(str(all_basic_features[1]))[0][1]] = pattern.findall(str(all_basic_features[1]))[0][0]
        
    elif len(all_basic_features) == 1:
        basic_feature_dict[pattern.findall(str(all_basic_features[0]))[0][1]] = pattern.findall(str(all_basic_features[0]))[0][0]

    # putting 'none' if price is missing    
    if property_price is None:
        basic_feature_dict['price'] = None
        
    else:
        basic_feature_dict['price'] = pattern1.findall(str(property_price))[0]
        
    # putting 'none' if property name/address is missing       
    if property_name is None:
        basic_feature_dict['name'] = None
        
    else:
        basic_feature_dict['name'] = pattern1.findall(str(property_name))[0]
        
    # putting 'none' if latitude and logitude are missing        
    if lat_long is None:
        basic_feature_dict['lat'] = None
        basic_feature_dict['long'] = None
        
    else:
        basic_feature_dict['lat'] = pattern2.findall(str(lat_long))[0].split(',')[0]
        basic_feature_dict['long'] = pattern2.findall(str(lat_long))[0].split(',')[1]
        
    # appending all the data into a list
    basic_feature_list.append(basic_feature_dict)

In [222]:
# creating empty lists
beds_list = []
baths_list = []
parking_list = []
area_list = []
name_list = []
lat_list = []
long_list = []
price_list = []

# interating through list created above with data
for row in basic_feature_list:
    
    # checking if the row cointains 'Beds', 'Bed' or nothing
    if 'Beds' in row:
        beds_list.append(row['Beds'])
    elif 'bed' in row:
        beds_list.append(row['Bed'])
    else:
        beds_list.append(None)
        
    # checking if the row cointains 'Baths', 'Bath' or nothing    
    if 'Baths' in row:
        baths_list.append(row['Baths'])
    elif 'Bath ' in row:
        baths_list.append(row['Bath'])
    else:
        baths_list.append(None)
        
    # checking if the row cointains 'Parking', '-' or nothing     
    if 'Parking' in row and row['Parking'] != 'âˆ’':
        parking_list.append(row['Parking'])
    else:
        parking_list.append(None)
        
    # checking if the row cointains ' ', or nothing. Because empty space (i.e. ' ') reprsents area  
    if ' ' in row:
        area_list.append(row[' '])
    else:
        area_list.append(None)
# checking if the row cointains 'name' that is address of property         
    if 'name' in row:
        name_list.append(row['name'])
    else:
        name_list.append(None)
    
    # checking if the row cointains 'price'         
    if 'price' in row:
        price_list.append(row['price'])
    else:
        price_list.append(None)        
    
    # checking if the row cointains 'lat' that is lattitude of property         
    if 'lat' in row:
        lat_list.append(row['lat'])
    else:
        lat_list.append(None)  
        
    # checking if the row cointains 'long' that is lattitude of property             
    if 'long' in row:
        long_list.append(row['long'])
    else:
        long_list.append(None)

In [223]:
house_dict = {}
house_dict['Beds'] = beds_list
house_dict['Baths'] = baths_list
house_dict['Parking'] = parking_list
house_dict['Area'] = area_list
house_dict['Address'] = name_list
house_dict['Latitude'] = lat_list
house_dict['Longitude'] = long_list
house_dict['Rent'] = price_list
house_df = pd.DataFrame(house_dict)

In [226]:
def remove_chars(s):
    return re.sub('[^0-9.]+', '', s) 

def remove_squaremeter(s):
    if i != None:
        return remove_chars(i)
    else:
        return None

#find pattern for week/annual rent
year_pattern = r"p.a.|annually|annual"
week_pattern = r"pw|week"

regex_week_pattern = re.compile(week_pattern)
regex_year_pattern = re.compile(year_pattern)


#convert rent to weekly rent
def convert_rent(s):
    # week rent
    if (len(regex_week_pattern.findall(s.lower())) != 0 )& (len(regex_year_pattern.findall(s.lower())) == 0) :
        return remove_chars(s)
    # year rent
    elif (len(regex_week_pattern.findall(s.lower())) == 0) & (len(regex_year_pattern.findall(s.lower())) != 0) :
        return float(remove_chars(s))//12
    # not speficied
    else:
        return remove_chars(s)
    
house_df['Converted_Rent'] = [convert_rent(i) for i in price_list]
house_df['Type'] = [type_flag(i) for i in price_list]

#extract post code
house_df['Postcode'] = house_df['Address'].str[-4:]

#clean area
house_df['Area'] = [remove_squaremeter(i) for i in area_list]

In [230]:
house_df

,Beds,Baths,Parking,Area,Address,Latitude,Longitude,Rent,Converted_Rent,Type,Postcode
0,None,None,1,None,8092Y/33 Rose Lane Melbourne VIC 3000,-37.8150137,144.9538694,$60 per week,60,1.0,3000
1,None,None,None,None,1106/555 Flinders Street Melbourne VIC 3000,-37.8209711,144.9564827,$370 per week,370,1.0,3000
2,2,None,1,None,2901/200 Spencer Street Melbourne VIC 3000,-37.816228,144.9532465,$500 per week,500,1.0,3000
3,3,3,2,None,5401/464 Collins Street Melbourne VIC 3000,-37.8175602,144.9585916,$2500 Per Week,2500,1.0,3000
4,None,None,None,None,405/39 Queen Street Melbourne VIC 3000,-37.817888,144.9617372,$450.00 per week,450.00,1.0,3000
5,2,3,2,None,113/350 St Kilda Road Melbourne VIC 3004,-37.831142,144.9708545,$1500 Per Week,1500,1.0,3004
6,3,2,None,None,625/118 Franklin Street Melbourne VIC 3000,-37.8082052,144.9589035,$530,530,NaN,3000
7,3,2,1,None,503/8 Bowen Crescent Melbourne VIC 3004,-37.8354199,144.9725792,800,800,NaN,3004
8,None,None,1,None,702/594 St Kilda Road Melbourne VIC 3004,-37.8496926,144.9796418,$380 per week,380,1.0,3004
9,2,None,None,None,1206/118 Russell Street Melbourne VIC 3000,-37.8135864,144.9687232,$550 per week,550,1.0,3000
10,2,2,None,None,1411/120 A Beckett St Melbourne VIC 3000,-37.8093086,144.9597389,$680,680,NaN,3000
11,None,None,None,None,505/296 Flinders Street Melbourne VIC 3000,-37.8180403,144.9643186,$360 Per Week,360,1.0,3000
12,2,2,2,None,1201/55 Queens Road Melbourne VIC 3004,-37.8478901,144.9782817,"$1,100.00",1100.00,NaN,3004
13,2,None,None,None,1313/268 Flinders Street Melbourne VIC 3000,-37.8178134,144.9655688,$350 per week,350,1.0,3000
14,2,None,None,None,2807/81 Abeckett Street Melbourne VIC 3000,-37.8092252,144.9613779,$680,680,NaN,3000
15,None,None,1,None,5003/464-466 Collins Street Melbourne VIC 3000,-37.81755500000001,144.958633,$550 Per Week,550,1.0,3000
16,None,None,1,None,912/87 Franklin Street Melbourne VIC 3000,-37.8079392,144.9617069,$450 per week,450,1.0,3000
17,None,None,1,None,405/442 St Kilda Road Melbourne VIC 3004,-37.8382389,144.9754034,$380 Per Week,380,1.0,3004
18,2,None,1,None,G01/83 Queens Road Melbourne VIC 3004,-37.8542601,144.9804163,$600,600,NaN,3004
19,None,None,None,None,1011/225 Elizabeth Street Melbourne VIC 3000,-37.8132308,144.9623173,$430 per week,430,1.0,3000
20,2,None,None,None,405/325 Collins Street Melbourne VIC 3000,-37.8166442,144.9635498,$420.00 per week,420.00,1.0,3000
21,None,None,None,None,3108/500 Elizabeth St Melbourne VIC 3000,-37.8072443,144.9602814,$410,410,NaN,3000
22,2,None,None,None,217/339 Swanston St Melbourne VIC 3000,-37.8103818,144.9638079,$370,370,NaN,3000
23,3,2,1,None,3113/639 Lonsdale Street Melbourne VIC 3000,-37.8150689,144.9534096,$950.00,950.00,NaN,3000
24,None,None,1,None,104/12 Queens Road Melbourne VIC 3004,-37.8384194,144.9747126,$440,440,NaN,3004
25,2,2,1,None,808/565 Flinders Street Melbourne VIC 3000,-37.8210586,144.9559072,$550 per week,550,1.0,3000
26,2,2,2,None,55/1 Albert Road Melbourne VIC 3000,-37.833957,144.972793,$950 Per Week,950,1.0,3000
27,None,None,2,None,1515/1 Queens Road Melbourne VIC 3004,-37.8357725,144.9738764,$695 Per Week,695,1.0,3004
28,None,None,1,None,228 La Trobe St Melbourne VIC 3000,-37.8097514,144.9626141,70pw,70,1.0,3000
29,None,None,None,None,1503/480 Collins Street Melbourne VIC 3000,-37.817664,144.957957,$330 Per Week,330,1.0,3000
30,2,2,1,None,1312/35 Albert Rd Melbourne VIC 3004,-37.834695,144.9721117,$590,590,NaN,3004
31,2,2,1,None,19/73 Queens Road Melbourne VIC 3004,-37.8519051,144.9795738,$580 per week,580,1.0,3004
32,2,None,None,None,Unit 913/39 Lonsdale St Melbourne VIC 3000,-37.80992639999999,144.9711317,$420 per week,420,1.0,3000
33,2,None,1,None,Unit 1201/555 Flinders St Melbourne VIC 3000,-37.8209711,144.9564827,$430 Per Week,430,1.0,3000
34,2,2,1,None,203/8 Bowen Crescent Melbourne VIC 3004,-37.8354199,144.9725792,$620,620,NaN,3004
35,2,2,1,None,925/555 Flinders Street Melbourne VIC 3000,-37.8209711,144.9564827,$525.00 per week,525.00,1.0,3000
36,None,None,None,None,807/39 Queen Street Melbourne VIC 3000,-37.817888,144.9617372,$400 per week,400,1.0,3000
37,None,None,None,None,8/287-293 Exhibition Street Melbourne VIC 3000,-37.809081,144.968908,$420 per week,420,1.0,3000
38,2,2,1,None,3604/568 Collins Street Melbourne VIC 3000,-37.8183759,144.9554361,$550.00 per week,550.00,1.0,3000
39,None,None,None,None,34/546 Flinders Street Melbourne VIC 3000,-37.8205058,144.9561717,$260 per week.,260.,1.0,3000
40,2,2,1,None,904/201 Collins Street Melbourne VIC 3000,-37.8154091,144.9674094,$1800 per week,1800,1.0,3000
41,2,None,1,None,1609/31 ABeckett Street Melbourne VIC 3000,-37.8088893,144.9625546,$550.00 per week,550.00,1.0,3000
42,2,2,1,None,915/555 Flinders Street Melbourne VIC 3000,-37.8209711,144.9564827,$775 per week,775,1.0,3000
43,3,2,1,None,72/283 Spring Street Melbourne VIC 3000,-37.8081498,144.9712082,$800 pw,800,1.0,3000
44,None,None,None,None,211A/441 Lonsdale Street Melbourne VIC 3000,-37.8134292,144.9594445,$300 Per Week,300,1.0,3000
45,None,None,None,None,1403/325 Collins Street Melbourne VIC 3000,-37.8166442,144.9635498,$395 per week,395,1.0,3000
46,2,None,None,None,2104/38 Rose Lane Melbourne VIC 3000,-37.8148884,144.9542283,$550,550,NaN,3000
47,2,2,2,None,1306/582 St Kilda Road Melbourne VIC 3004,-37.8493082,144.9794216,$1100 per week,1100,1.0,3004
48,2,None,1,None,2302/135 Abeckett Street Melbourne VIC 3000,-37.8097879,144.9596466,$600.00,600.00,NaN,3000
49,2,None,1,None,913/610 St Kilda Road Melbourne VIC 3004,-37.8520422,144.9803303,$420 per week,420,1.0,3004

In [339]:
links_test[900]

'https://www.domain.com.au/61-chatsworth-road-prahran-vic-3181-16041307'

In [343]:
bs_object = BeautifulSoup(requests.get("https://www.domain.com.au/1-watson-street-armadale-vic-3143-16061315", headers=headers).text, "html.parser")

In [384]:

#nearby school name
pattern_school = re.compile(r'title="(.+)"><span class=')
school= bs_object.find("div", {"data-testid": "listing-details__school-catchment-content"}).findAll("a",{"class": "css-drqdeg"})
for i in school:
    print(pattern_school.findall(str(i)))

['Armadale Primary School']
['Auburn High School']
['Port Phillip Specialist School']

In [373]:
#nearby school name
pattern_school = re.compile(r'title="(.+)"><span class=')
school= bs_object.find("div", {"data-testid": "fe-co-school-catchment-content"}).findAll("a",{"class": "css-drqdeg"})
for i in school:
    print(pattern_school.findall(str(i)))

['Armadale Primary School']
['Auburn High School']
['Port Phillip Specialist School']

In [383]:
pattern_distance = re.compile(r'">(.+)<!')
school_distance= bs_object.find("div", {"data-testid": "fe-co-school-catchment-content"}).findAll("div", {"data-testid": "fe-co-school-catchment-schoolDistance"})
for i in school_distance:
    print(pattern_distance.findall(str(i)))

['0.3 km']
['2.9 km']
['6.6 km']