In [1]:
from pyspark.sql import SparkSession, functions as F
from pyspark.sql.functions import col, isnan, when, count, mean, udf, split, unix_timestamp, from_unixtime, lower
from pyspark.sql.types import StringType, IntegerType, FloatType

# init SparkSession class
spark = (
    # if available consider use yarn master node
    SparkSession.builder.master("local[*]") 
    
    # spark executor env configuratio
    .config("spark.executor.memory", "8g")
    .config("spark.driver.memory", "16g")
    .config("spark.executor.cores", "2")
    .config("spark.executor.instances", "6")
    .config("spark.sql.session.timeZone", "Etc/UTC")
    
    # jvm memory configuration
    .config("spark.memory.offHeap.enabled", "true")
    .config("spark.memory.offHeap.size", "8g")
    
    # parquet file load configuration
    .config("spark.sql.repl.eagerEval.enabled", 'true')
    .config("spark.sql.parquet.cacheMetadata", 'true')
    
    # build the session
    .appName("Pyspark Start Template") # change app name here
    .getOrCreate()
)

# change default log level
spark.sparkContext.setLogLevel('ERROR')

# import libaries
import pandas as pd
import seaborn as sns
import geopandas as gdp
import numpy as np
import matplotlib.pyplot as plt
import scipy as sp
import os
import geopandas as gpd
import folium
import pickle
# WARNNING message is result by JVM environment setting.

22/09/21 16:33:10 WARN Utils: Your hostname, QuzihandeMacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 10.12.115.210 instead (on interface en0)
22/09/21 16:33:10 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/09/21 16:33:11 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/09/21 16:33:12 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/09/21 16:33:12 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
22/09/21 16:33:12 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
22/09/21 16:33:12 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
22/09/21 16:33:12 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.
22/09/21 16:33:12 WARN Utils: Service 'SparkUI' could not bind on port 4045. Attempting port 4046.
22/09/21 16:33:12 WARN Utils: Service 'SparkUI' could not bind on port 4046. Attempting port 4047.

In [2]:
df = spark.read.parquet('../../data/raw/domain-website-data/*')
df.count()

15260

In [3]:
df_url = df.select('url').toPandas()
len(df_url)

15260

In [4]:
a=set(df_url['url'][:2])
len(a)

2

In [5]:
with open('link', 'wb') as file:
    pickle.dump(a, file, protocol = pickle.HIGHEST_PROTOCOL)

In [1]:
from pyspark.sql import SparkSession, functions as F
from pyspark.sql.functions import col, isnan, when, count, mean, udf, split, unix_timestamp, from_unixtime, lower
from pyspark.sql.types import StringType, IntegerType, FloatType

# init SparkSession class
spark = (
    # if available consider use yarn master node
    SparkSession.builder.master("local[*]") 
    
    # spark executor env configuratio
    .config("spark.executor.memory", "8g")
    .config("spark.driver.memory", "16g")
    .config("spark.executor.cores", "2")
    .config("spark.executor.instances", "6")
    .config("spark.sql.session.timeZone", "Etc/UTC")
    
    # jvm memory configuration
    .config("spark.memory.offHeap.enabled", "true")
    .config("spark.memory.offHeap.size", "8g")
    
    # parquet file load configuration
    .config("spark.sql.repl.eagerEval.enabled", 'true')
    .config("spark.sql.parquet.cacheMetadata", 'true')
    
    # build the session
    .appName("Pyspark Start Template") # change app name here
    .getOrCreate()
)

# change default log level
spark.sparkContext.setLogLevel('ERROR')

# import libaries
import pandas as pd
import seaborn as sns
import geopandas as gdp
import numpy as np
import matplotlib.pyplot as plt
import scipy as sp
import os
import geopandas as gpd
import folium
import pickle
# WARNNING message is result by JVM environment setting.

22/09/21 16:39:07 WARN Utils: Your hostname, QuzihandeMacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 10.12.115.210 instead (on interface en0)
22/09/21 16:39:07 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/09/21 16:39:07 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/09/21 16:39:08 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/09/21 16:39:08 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
22/09/21 16:39:08 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
22/09/21 16:39:08 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
22/09/21 16:39:08 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.
22/09/21 16:39:08 WARN Utils: Service 'SparkUI' could not bind on port 4045. Attempting port 4046.
22/09/21 16:39:08 WARN Utils: Service 'SparkUI' could not bind on port 4046. Attempting port 4047.

In [2]:
with open('link', 'rb') as file:
    links = pickle.load(file)

In [3]:
len(links)

2

In [4]:
import os
os.chdir('../../scripts/school2')

In [5]:
from domain_scraper import *
domain_properties_info(links)

,postcode,nearBySchools,nearBySchools_distance
0,3000,"[Ozford College, Ozford College - Ozford Colle...","[306.93672546572753, 307.96525885360074, 347.9..."
0,3000,"[Eltham College - Lonsdale Street Campus, Stot...","[414.7984287814513, 539.2674293055095, 678.127..."

In [8]:
df2 = spark.read.parquet('../../scripts/school2/1/*')

In [20]:
a = df2.select('nearBySchools').toPandas()

In [23]:
a

                                       nearBySchools
0  [Eltham College - Lonsdale Street Campus, Stot...
1  [Ozford College, Ozford College - Ozford Colle...

In [12]:
links

{'https://www.domain.com.au/101-25-33-wills-street-melbourne-vic-3000-14868152',
 'https://www.domain.com.au/104-300-swanston-street-melbourne-vic-3000-13671355'}