In [253]:
# read model data csv
import pandas as pd

#spark session
from pyspark.sql import SparkSession


# properties data
data = pd.read_csv("../../data/curated/model-data/model-data.csv").drop(columns = ['Unnamed: 0'])


# aggregated external data by postcode
external = pd.read_csv("../../data/curated/model-data/external-features.csv").drop(columns = ['Unnamed: 0'])


# additional data needed
public_service = pd.read_csv("../../data/raw/external-data/public_service.csv").drop(columns = ['Unnamed: 0'])
emergency_service = pd.read_csv("../../data/raw/external-data/emergency_service.csv").drop(columns = ['Unnamed: 0'])
hospital = pd.read_csv("../../data/raw/external-data/hospital.csv").drop(columns = ['Unnamed: 0'])

In [255]:
selected_external_columns = ['postcode',
                             'public-service-duration','care-facility-duration', 'shopping-center-duration',
                             'train-station-duration', 'hospital-duration', 'CBD-duration',
                             'emergency-service-duration',
                             'property-count', 'elector-count',
                             'crime-rate', 'income',
                             'pri-1-10', 'pri-11-50', 'pri-51-100','pri-101-150', 'pri-150+',
                             'sec-1-10', 'sec-11-50', 'sec-51-100',
                             'sec-101-150', 'sec-150+']

In [256]:
spark = (
    SparkSession.builder.appName("MAST30034 Project 2")
    .config("spark.sql.repl.eagerEval.enabled", True) 
    .config("spark.sql.parquet.cacheMetadata", "true")
    .config("spark.sql.session.timeZone", "Etc/UTC")
    .getOrCreate()
)

In [257]:
# filter data
data = data.loc[(data['price'] <= 1500) & (data['bedrooms'] <= 3)& (data['parking'] <= 5)]
data = data.loc[(data['price'] <= 2000) & (data['bedrooms'] <= 5)& (data['parking'] <= 5)]

# add rent proportion
data['rent_proportion'] = (data['price'] / data['bedrooms'])/data['income']

In [258]:
# add rent porpotion by postcode
data_mean = data.groupby(['postcode']).mean()
external  = external.merge(data_mean.rent_proportion, left_on="postcode", right_on="postcode", how='outer')

In [260]:
# add external feautre count by postcode
public_service_count = public_service.groupby('postcode').count().geometry.rename('public_service_count')
hospital_count = hospital.groupby('postcode').count().geometry.rename('hospital_count')
emergency_service_count = emergency_service.groupby('postcode').count().geometry.rename('emergency_service_count')

external  = external.merge(hospital_count, left_on="postcode", right_on="postcode", how='left')
external  = external.merge(public_service_count, left_on="postcode", right_on="postcode", how='left')
external  = external.merge(emergency_service_count, left_on="postcode", right_on="postcode", how='left')

In [261]:
# check it the property is affordable
data['greater_than_30_percent_count'] = data['rent_proportion'] >= 0.3
affordable_percentage = data.groupby("postcode")["greater_than_30_percent_count"]\
                        .mean().rename('unaffordable_percentage')
external  = external.merge(affordable_percentage, left_on="postcode", right_on="postcode", how='left')

In [264]:
# selected columns we interested in based on livability index matrics
livable_columns = ['postcode','hospital_count','public_service_count','emergency_service_count',
                   'CBD-duration','train-station-duration','rent_proportion','income']
external_selected = external[livable_columns]
external_selected

,postcode,hospital_count,public_service_count,emergency_service_count,CBD-duration,train-station-duration,rent_proportion,income
0,3131,2.0,2.0,2.0,27.310000,3.092833,0.150270,1202.0
1,3939,2.0,1.0,4.0,79.431667,16.598000,0.261905,770.0
2,3429,2.0,1.0,4.0,44.228333,5.422667,0.108919,1438.0
3,3144,5.0,1.0,2.0,16.446667,2.401500,0.140161,2047.0
4,3338,NaN,1.0,1.0,42.541667,16.598000,0.111934,1096.0
...,...,...,...,...,...,...,...,...
175,3003,NaN,NaN,2.0,8.316667,5.792333,0.287911,1219.5
176,3008,1.0,2.0,1.0,5.325000,3.836000,0.307030,1219.5
177,3207,NaN,1.0,1.0,10.823333,16.598000,0.164045,1997.0
178,3032,1.0,3.0,NaN,16.068333,6.085667,0.143772,1512.0
179,3031,NaN,1.0,1.0,11.810000,3.677833,0.185531,1401.0

In [266]:
# replace nan with 0
external_selected['hospital_count'] = external_selected['hospital_count'].fillna(0)
external_selected['public_service_count'] = external_selected['public_service_count'].fillna(0)
external_selected['emergency_service_count'] = external_selected['emergency_service_count'].fillna(0)

/var/folders/7v/v1gh4ksn641cv86zx_w_yd840000gp/T/ipykernel_6697/1219982842.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  external_selected['hospital_count'] = external_selected['hospital_count'].fillna(0)
/var/folders/7v/v1gh4ksn641cv86zx_w_yd840000gp/T/ipykernel_6697/1219982842.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  external_selected['public_service_count'] = external_selected['public_service_count'].fillna(0)
/var/folders/7v/v1gh4ksn641cv86zx_w_yd840000gp/T/ipykernel_6697/1219982842.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  external_selected['emergency_service_count'] = external_selected['emergency_service_count'].fillna(0)

In [341]:
external_selected.sort_values(['rent_proportion'],ascending=False).head(90)

,postcode,hospital_count,public_service_count,emergency_service_count,CBD-duration,train-station-duration,rent_proportion,income
69,3053,2.0,3.0,2.0,3.893333,16.598000,0.477835,633.0
108,3004,4.0,3.0,0.0,6.203333,16.598000,0.392007,994.0
110,3000,2.0,10.0,1.0,0.000000,1.701333,0.369239,994.0
124,3940,1.0,0.0,1.0,75.448333,16.598000,0.307927,641.0
176,3008,1.0,2.0,1.0,5.325000,3.836000,0.307030,1219.5
...,...,...,...,...,...,...,...,...
87,3039,1.0,1.0,2.0,12.945000,1.714333,0.159088,1611.0
81,3184,1.0,0.0,0.0,17.041667,16.598000,0.158534,1715.0
130,3204,2.0,1.0,0.0,26.365000,0.985667,0.157826,1538.0
144,3191,2.0,1.0,1.0,30.338333,1.746667,0.157612,1836.0
96,3075,0.0,1.0,0.0,27.021667,2.972667,0.156844,919.0

In [346]:
lst1 = list(external_selected[external_selected['hospital_count'] >= 1]['postcode'])
lst2 = list(external_selected[external_selected['public_service_count']>= 1]['postcode'])
lst7 = list(external_selected[external_selected['emergency_service_count']>= 1]['postcode'])


lst3 = list(external_selected[external_selected['train-station-duration'] <= 20]['postcode'])

lst4_2 = list(external_selected[external_selected['rent_proportion']<= 0.17]['postcode'])
lst4_1 = list(external_selected[external_selected['rent_proportion']<= 0.19]['postcode'])

lst5 = list(external_selected[external_selected['income'] >= 1300]['postcode'])
lst6 = list(external_selected[external_selected['CBD-duration'] <= 20]['postcode'])
lst7 = list(external_selected[external_selected['emergency_service_count']>= 1]['postcode'])

In [347]:
# top 10: 'rent_proportion']<= 0.19
list(set(lst1) & set(lst2) & set(lst3)& set(lst4_1) & set(lst5) & set(lst6) & set(lst7))

[3040, 3078, 3079, 3144, 3052, 3056, 3121, 3122, 3101, 3039]

In [348]:
# top 5: 'rent_proportion']<= 0.17
list(set(lst1) & set(lst2) & set(lst3)& set(lst4_2) & set(lst5) & set(lst6) & set(lst7))

[3040, 3079, 3144, 3101, 3039]